<section class="cprecap-info" id="about">
	<div class="container-xl" style="min-height:65vh">
		
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item active" aria-current="page">Dashboard</li>
			</ol>
		</nav>

        <div class="row justify-content-center box-bg-container">

			Dashboard Page

		
		</div>
    </div>
</section>
