<section class="cprecap-info" id="about">
	<div class="container-xl" style="min-height:65vh">
		
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item active" aria-current="page">Dashboard</li>
			</ol>
		</nav>

        <div class="row justify-content-center box-bg-container">

			<div class="col-3">
				<ul class="side-nav">
					<li><a href="/beta/admin-dashboard/categories">Categories</a></li>
					<li><a href="/beta/admin-dashboard/topics">Topics</a></li>
					<li><a href="/beta/admin-dashboard/testers">Testers</a></li>
				</ul>
			</div>
			<div class="col-9">
				Dashboard Page

			</div>

		
		</div>
    </div>
</section>
