    <div :class="exerciseResult ? 'd-block':'d-none'">
        <div v-if="exerciseResultLoader" class="">
            <h2>Please wait while evaluating results...</h2>
        </div>
        <div v-if="!exerciseResultLoader" class="">
            <h4>Results</h4>
            <p><b>Total Score: {{exerciseResults.score}} / {{exerciseResults.total}}</b></p>
        </div>
    </div>

    <div :class="choiceCard || exerciseResult ? 'exer-choice d-block':'exer-choice d-none'">
        <p>CHOOSE THE RIGHT OPTION<br>1 POINT</p>
        <div v-for="(ndx, q) in questions.choice" :class="ndx == choiceStep || exerciseResult ? 'd-block choice-q' : 'd-none choice-q'">
            <h5>{{ (vuex.userInfo.charSet == 'simplified' ? q.question.s : q.question.t) }}</h5>
            <h6>{{ q.question.p }}</h6>
            <ul class="exe-options">
                <li v-for="choices in q.question.choices"  >
                    <button @click="nextChoice(ndx,choices.id)" class="btn btn-info">{{ choices.t }} <br>{{ choices.p }}</button>
                </li>
            </ul>
            <p v-if="exerciseResult">Answer: {{ ( vuex.userInfo.charSet == 'simplified' ? q.answer.s : q.answer.t ) }}</p>
            <hr>
        </div>
    </div>

    <div :class="matchingCard || exerciseResult ? 'd-block':'d-none'">
        <p class="text-center">MATCH THE PHRASE WITH THE TRANSLATION<br>5 POINT</p>
        <div v-for="(ndx, m) in questions.matching" :class="(ndx == matchingStep || exerciseResult ? 'd-block exer-matching':'d-none exer-matching')">

            <ul style="float:left">
                <li  v-for="matching in rumbleArray(m.question.segments,m.question.segments.length)" v-if="matching.id"  >
                    <button v-bind:class="setClassHanzi( matching.id )" class="btn" @click="setMatchq(matching.id)">{{ ( vuex.userInfo.charSet == 'simplified' ? matching.s : matching.t) }}<br>{{ matching.p }} <span class="answer" v-if="exerciseResult">({{ matching.id }})</span></button>
                </li>
            </ul>

            <ul style="float:right">
                <li v-for="matching in rumbleArray(m.question.segments,m.question.segments.length)" v-if="matching.id" >
                    <button v-bind:class="setClassEn( matching.id )" @click="setMatcha(matching.id)" class="btn">{{ matching.e }} <span class="answer" v-if="exerciseResult">({{ matching.id }})</span></button>
                </li>
            </ul>
            <div style="clear:both"></div>
            <hr>
        </div>
    </div>

    <div id="rearrange-block" :class="reArrangeCard || exerciseResult ? 'exer-choice d-block':'exer-choice d-none'">
        <p class="text-center">RE-ORDER THE SEGMENTS<br>6 POINT</p>
        <div v-for="(ndx, r) in questions.rearrange" :class="ndx == rearrangeStep || exerciseResult ? 'd-block':'d-none'">

            <div>
                <ul :id="'list-'+r.id" class="ui-sortable rearrange-list">
    
                    <li v-for="segments in rumbleArray(r.question.segments)" 
                        :id='segments.id' 
                        class="ui-state-default ui-sortable-handle"
                    >
                        <div class="card-body row">
                            <div class="col-2 col-sm-1">
                                <span class="answer" v-if="exerciseResult">({{ segments.id }})</span>
                                <i style="font-size:32px; position: relative;top: 10px;" class="bi bi-arrows-move"></i>
                            </div>
                            <div class="col-10 col-sm-11">
                                <span class="characters">{{ ( vuex.userInfo.charSet == 'simplified' ? segments.s : segments.t ) }}</span>
                                <footer class="pinyin">{{ segments.p }}</footer>
                            </div>
                            
                        </div>
                    </li>

                </ul>


                <input v-if="!exerciseResult" type="button" class="btn btn-primary" value="Next Exercise" @click="nextCardTallyOrder">
            </div>
            <hr>
        </div>
    </div>

    <div :class="audioCard || exerciseResult ? 'd-block':'d-none'">
        <div v-for="(ndx, audio) in questions.audio" :class="ndx == dictationStep || exerciseResult ? 'd-block':'d-none'">

            <div class="form-group">
                <div class="play-audio icon fs-5">
                    <i @click="playAudio('audio-'+ndx+'-'+audio.question.id)" class="vol-ico bi bi-volume-up-fill"></i>
                    <input v-model="audioAns[ndx]" type="text" class="form-control audioInput">
                    <audio :id="'audio-'+ndx+'-'+audio.question.id">
                        <source :src="audio.question.audio" type="audio/mp3">
                        Your browser does not support the audio element.
                    </audio>
                </div>

                <p v-if="!exerciseResult">{{ ndx+1 }} of {{ questions.audio.length }}</p>

                <p v-if="!exerciseResult">To type in Chinese, you'll need to first install a Chinese keyboard on your phone or computer. To write in Pinyin, you can use an English keyboard and use numbers for tones. e.g. ni3hao3</p>
                <p v-if="exerciseResult">
                    <span class="answer">English: {{ audio.answer.e }}</span>
                    <span class="answer">Pinyin: {{ audio.answer.p }}</span>
                    <span class="answer">Traditional: {{ audio.answer.t }}</span>
                    <span class="answer">Simplified: {{ audio.answer.s }}</span>
                </p>
                
                
                <input v-if="!exerciseResult" type="button"  class="btn btn-primary" value="Next Exercise" @click="nextAudio">
            </div>
            
        </div>
    </div>





