<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.18/vue.min.js"></script>
<script src="/beta/javascripts/pinyin-convert.js" ></script>


<script>


    var lessonDashboardApp = new Vue({
        el: "#lessonDashboardApp",
        data: {
            vuex: JSON.parse(window.localStorage.getItem('vuex')),
            lesson: {},
            dialogue: {},
            vocab: {},
            expansion: {},
            grammar: {},
            downloads: {},
            questions: {},
            course: {},
            comments: {},
            decks: {},
            choiceCard : true,
            matchingCard: false,
            reArrangeCard: false,
            audioCard: false,
            exerciseResult: false,
            exerciseResultLoader: true,
            choiceStep : 0,
            matchingStep : 0,
            rearrangeStep : 0,
            dictationStep : 0,
            matchEn : [],
            matchHanzi : [],
            matchAns : [],
            audioAns: [],
            exerciseResults: {
                score: 0,
                total: 0,
            },
            searchString: "",
            searchType: [],
            filePercent: 0,
            fileLoader: false,
            fileDownloadName: '',
            commentMessage: '',
            replyUsername: '',
            replyId: 0,
            replyId2: 0,
            commentId: 0,
            selectedDeckId: 0,
            newDeckCategory: "",
            isActive: "",
            hlsNativeSupport: true,

        },
        methods: {

            getAPIFetch: async function(api) {

                let results = await fetch(api,{
                    credentials: 'same-origin',
                    headers: {
                        'Accept': 'application/json, text/plain, */*',
                        'Content-Type': 'application/json',
                        'Authorization': 'Bearer '+ (this.vuex ? this.vuex.token : '')
                    },
                })
                .then(resp => resp.json())
                .then(res => {
                    // console.log("this res", res);
                    return res;
                })

                return results;

            },

            postAPIFetch: async function(api, params) {

                let options = {
                    credentials: 'same-origin',
                    headers: {
                        'Accept': 'application/json, text/plain, */*',
                        'Content-Type': 'application/json',
                        'Authorization': 'Bearer '+ (this.vuex ? this.vuex.token : '')
                    },
                    method: "POST",
                    body: JSON.stringify(params)
                }

                let okOption = false

                let results = await fetch(api,options)

                    .then(res => {
                        return res.statusText;
                    })

                
                if (okOption) {
                    return {status:"ok"}
                } else {
                    return results;
                }

            },

            patchAPIFetch: async function(api, params) {

                let options = {
                    credentials: 'same-origin',
                    headers: {
                        'Accept': 'application/json, text/plain, */*',
                        'Content-Type': 'application/json',
                        'Authorization': 'Bearer '+ (this.vuex ? this.vuex.token : '')
                    },
                    method: "PATCH",
                    body: JSON.stringify(params)
                }

                let okOption = false

                let results = await fetch(api,options)

                    .then(res => {
                        return res.statusText;
                    })


                if (okOption) {
                    return {status:"ok"}
                } else {
                    return results;
                }

            },

            putAPIFetch: async function(api, params) {

                let options = {
                    credentials: 'same-origin',
                    headers: {
                        'Accept': 'application/json, text/plain, */*',
                        'Content-Type': 'application/json,text/plain',
                        'Authorization': 'Bearer '+ (this.vuex ? this.vuex.token : '')
                    },
                    method: "PUT",
                    body: JSON.stringify(params)
                }

                let okOption = false

                let results = await fetch(api,options)
                    
                    .then(res => {
                        return res.statusText;
                    })

                
                if (okOption) {
                    return {status:"ok"}
                } else {
                    return results;
                }

            },

            putAPI: async function(api, params) {

                let options = {
                    credentials: 'same-origin',
                    headers: {
                        'Accept': 'application/json, text/plain, */*',
                        'Content-Type': 'application/json',
                        'Authorization': 'Bearer '+ (this.vuex ? this.vuex.token : '')
                    },
                    method: "PUT",
                    body: JSON.stringify(params)
                }

                let okOption = false

                let results = await fetch(api,options)
                    .then(res => res.json() )
                    .then(resp => {
                    console.log("resp", resp);

                        return resp;
                    })

                    console.log("results", results);

                return results;

            },

            deleteAPI: async function(api, params) {

                let options = {
                    credentials: 'same-origin',
                    headers: {
                        'Accept': 'application/json, text/plain, */*',
                        'Content-Type': 'application/json',
                        'Authorization': 'Bearer '+ (this.vuex ? this.vuex.token : '')
                    },
                    method: "DELETE",
                    body: JSON.stringify(params)
                }

                let results = await fetch(api,options)
                    // .then(resp => resp.json())
                    .then(res => {
                        return res.statusText;
                })

                return results;

            },

            setCommentId: function(commentId, content='') {
                this.commentId = commentId

                if(content) {
                    this.commentMessage = content

                    document.getElementById('commentMessage').scrollIntoView({
                        behavior: 'smooth'
                    });
                    document.getElementById("commentMessage").focus()
                }
            },

            deleteCommentId: async function() {

                let params = {
                    lessonId: this.lesson.id,
                    commentId: this.commentId,
                    isAdmin: false
                }

                let resp = await this.deleteAPI("https://www.chinesepod.com/api/v1/lessons/comments", params)

                this.commentId = 0

                this.comments = await this.getAPIFetch('/api/v1/lessons/get-comments?lessonId='+this.lesson.id);

                this.showMessage('Comment Deleted!', 'success')

            },

            studyCompleted: async function() {

                let params = {
                    lessonId: this.lesson.id,
                    status: this.lesson.studied > 0 ? false : true
                }

                this.lesson.studied = this.lesson.studied > 0 ? 0 : 1;

                let toogleSave = await this.postAPIFetch("https://www.chinesepod.com/api/v1/dashboard/toggle-studied", params)

                this.showMessage('Settings Saved!', 'success')
            },

            saveLesson: async function() {

                let params = {
                    lessonId: this.lesson.id,
                    status: !this.lesson.saved
                }

                this.lesson.saved = !this.lesson.saved

                let toogleSave = await this.postAPIFetch("https://www.chinesepod.com/api/v1/dashboard/toggle-saved", params)

                this.showMessage('Lesson Saved!', 'success')
            },

            setCharset: async function(charSet) {

                let params = {type: "charSet", value: charSet}


                this.vuex.userInfo.charSet = charSet
                localStorage.setItem('vuex',  JSON.stringify(this.vuex));

                let toogleSave = await this.putAPIFetch("https://www.chinesepod.com/api/v1/account/settings/update", params)

                this.showMessage('Settings Saved!', 'success')
            },

            addVocab: async function(vocab) {

                vocab.lessonId = this.lesson.id

                let toogleSave = await this.putAPIFetch("https://www.chinesepod.com/api/v1/vocabulary/words/create", vocab)

                this.showMessage('Added Vocabulary!', 'success')
            },

            replyComment: async function(username, replyId, replyId2=0) {
                
                this.replyUsername = username;
                this.replyId = replyId;
                this.replyId2 = replyId2;
                
                document.getElementById('commentMessage').scrollIntoView({
                    behavior: 'smooth'
                });
                document.getElementById("commentMessage").focus()
            },

            addComment: async function() {
                

                if (this.commentMessage) {

                    let params = {
                        lessonId: this.lesson.id, 
                        content: this.commentMessage, 
                        isAdmin: false
                    }

                    if (this.replyUsername) {
                        params.replyTo = this.username
                        params.replyId = this.replyId
                        params.replyId2 = this.replyId2
                    }

                    let response;
                    
                    if (this.commentId){
                        params.commentId = this.commentId
                        response = await this.patchAPIFetch("https://www.chinesepod.com/api/v1/lessons/comments", params)
                    } else {
                        response = await this.postAPIFetch("https://www.chinesepod.com/api/v1/lessons/comments", params)
                    }
 
                    if(response) {
                        this.commentMessage = "";
                        this.username = ""
                        this.replyId = ""
                        this.replyId2 = ""
                        this.commentId = 0

                        this.comments = await this.getAPIFetch('/api/v1/lessons/get-comments?lessonId='+this.lesson.id);
                        this.showMessage('Your Comment has been posted', 'success')

                    } else {
                        this.showMessage('Something went wrong, please try again later', 'error')

                    }
                } else {
                    this.showMessage('Please add comment', 'warning')

                }


            },

            pinyinConvert: function(pinyin) {
                return PinyinConverter.convert(pinyin);
            },

            nextChoice: function(ndx,selectedChoice) {
                // console.log("ans",ndx,selectedChoice);
                this.questions.choice[ndx].selectedChoice = selectedChoice;

                this.choiceStep++
                if (this.choiceStep >= this.questions.choice.length) {
                    console.log("show next set of cards",this.questions);
                    this.choiceCard = false;
                    this.matchingCard = true;
                }
            },

            rumbleArray: function(arr, max) {
                let ndxA, ndxB, ndxC;
              
                ndxA = Math.floor(Math.random() * (max + 1));
                ndxB = Math.floor(Math.random() * (max + 1));
                ndxC = Math.floor(Math.random() * (max + 1));
                // console.log(ndxA,ndxB,ndxC);
                var tmp = arr[ndxA];
                arr[ndxA] = arr[ndxB];
                arr[ndxB] = tmp;

                var tmp2 = arr[ndxA];
                arr[ndxA] = arr[ndxC];
                arr[ndxC] = tmp2;
               

                return arr;
            },

            setMatchq: function(id){
                if (this.matchHanzi.length < 5) {
                    // console.log("ID>>",id);
                    if (!this.matchHanzi.includes(id)) 
                    this.matchHanzi.push(id)
                    
                } else {
                    // abort selecttion show warning
                }

                // console.log(this.matchHanzi);
                this.nextReArrange()

            },
            setMatcha: function(id){
                if (this.matchEn.length < 5) {
                    // console.log("ID>>",id);
                    if (!this.matchEn.includes(id)) 
                    this.matchEn.push(id)
                } else {
                    // abort selecttion show warning
                }
                // console.log(this.matchEn);
                this.nextReArrange()
            },

            nextReArrange : function () {

                if (this.matchEn.length >= 5 && this.matchHanzi.length >= 5) {
                    this.matchingStep++;
                    // console.log("next step", this.matchingStep);
                    this.matchAns.push({
                        'matchEn' : this.matchEn,
                        'matchHanzi' : this.matchHanzi
                    })

                    this.matchEn = []
                    this.matchHanzi = []
                }

                if (this.matchingStep >= this.questions.matching.length ) {
                    this.reArrangeCard = true
                    this.matchingCard = false

                    

                }
            },

            nextCardTallyOrder : function () {
                this.rearrangeStep ++

                if (this.rearrangeStep >= this.questions.rearrange.length) {
                    this.audioCard = true
                    this.reArrangeCard = false
                }
            },

            nextAudio : function () {
                this.dictationStep ++

                if (this.dictationStep >= this.questions.audio.length) {
                    this.audioCard = false
                    this.exerciseResult = true
                    this.showResults()
                }
            },

            showResults : function () {
                let this_ = this
                console.log("fetching results");
                // choice
                if (this.questions && this.questions.choice)
                this.questions.choice.forEach((choice)=> {
                    if (choice.answer.id == choice.selectedChoice) {
                        this_.exerciseResults.score += choice.score
                    }

                    this_.exerciseResults.total += choice.score
                });
                console.log("compute matching");

                // matching type
                if (this.questions && this.questions.matching){
                    this.questions.matching.forEach((matching, ndx)=> {
                        this_.exerciseResults.total += matching.score
                    });

                    this.matchAns.forEach((ans, ndx) => {
                        ans.matchHanzi.forEach((hanziId, hanziNdx) => {
                            if(hanziId == this.matchAns[ndx].matchEn[hanziNdx]) {
                                this_.exerciseResults.score ++
                            }
                        });
                    });
                }


                // total rearrange
                if (this_.questions && this_.questions.rearrange) {

                    let reorders = document.querySelectorAll(".rearrange-list");
                    reorders.forEach((reorder, i) => {
                        this_.exerciseResults.total += this_.questions.rearrange[i].score
                        let children = [...reorder.children]
                        let score = 0;
                        children.forEach((c, ndx) => {
                            if (ndx+1 == c.id) score++
                        })

                        if (score > 0) this_.exerciseResults.score += (score-1)
                    })
                }

                // total audio
                if (this_.questions && this_.questions.audio) {
                    this_.questions.audio.forEach((audio,i) => {
                        this_.exerciseResults.total += audio.score

                        if (   ( this_.audioAns[i] && audio.answer.e.trim() === this_.audioAns[i].trim()) 
                            || ( this_.audioAns[i] && audio.answer.p.trim() === this_.pinyinConvert(this_.audioAns[i].trim()) )
                            || ( this_.audioAns[i] && audio.answer.t.trim() === this_.audioAns[i].trim())
                            || ( this_.audioAns[i] && audio.answer.s.trim() === this_.audioAns[i].trim())
                        ) {
                            this_.exerciseResults.score += audio.score
                        }
                    })
                }
 

                
                this.exerciseResultLoader = false;

            },

            playAudio : function (id) {
                let play_audio = document.getElementById(id);
                play_audio.play();
            },

            setClassHanzi : function(id){
            
                let active=false;
                let ndx = null;

                if (this.matchHanzi.includes(id)) {
                    active = true
                    ndx = this.matchHanzi.findIndex(x => x === id);
                    ndx = ndx+1
                }

                let data = {
                    'selected': active,
                    'btn-primary': active && ndx == 1, 
                    'btn-success': active && ndx == 2, 
                    'btn-info': active && ndx == 3, 
                    'btn-warning': active && ndx == 4, 
                    'btn-danger': active && ndx == 5
                }

                return data;
                
            },

            setClassEn : function(id){
            
                let active=false;
                let ndx = null;

                if (this.matchEn.includes(id)) {
                    active = true
                    ndx = this.matchEn.findIndex(x => x === id);
                    ndx = ndx+1
                }

                let data = {
                    'selected': active,
                    'btn-primary': active && ndx == 1, 
                    'btn-success': active && ndx == 2, 
                    'btn-info': active && ndx == 3, 
                    'btn-warning': active && ndx == 4, 
                    'btn-danger': active && ndx == 5
                }

                return data;
            
            },

            searchQuery: function(){

                let queryString = ""
                let queryStringType = ""

                if (this.searchString) 
                queryString = "search="+this.searchString
                
                queryStringType = this.searchType.join("&")

                if (queryStringType) 
                queryString += "&" + queryStringType
                
                if(queryString)
                window.location.href = "/explore?"+queryString
                
            },

            downloadURI: function(uri, name) {
                // console.log("called DL");
                this.fileLoader = true
                this.fileDownloadName = name
                // var url = "http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/ForBiggerFun.mp4";
                var this_ = this
                $.ajax({
                    url: uri,
                    method: 'GET',
                    xhrFields: {
                        responseType: 'blob'
                    },
                    xhr: function () {
                        var xhr = new window.XMLHttpRequest();
                        xhr.addEventListener("progress", function (evt) {
                            if(evt.lengthComputable) {
                                var percentComplete = evt.loaded / evt.total;
                                this_.filePercent = parseInt(percentComplete * 100)
                                // console.log(percentComplete);
                            }
                        }, false);
                        return xhr;
                    },
                    success: function (data) {
                        // console.log(data);
                        var a = document.createElement('a');
                        var url = window.URL.createObjectURL(data);
                        a.href = url;
                        a.download = name;
                        document.body.append(a);
                        a.click();
                        a.remove();
                        window.URL.revokeObjectURL(url);
                        this_.fileLoader = false
                        this_.filePercent = 0
                    }
                });
            },
            printContent: function(divId) {

                let body = document.getElementById("printable-"+divId)

                var mywindow = window.open('', divId, 'height=400,width=600');
                mywindow.document.write('<html><head><title>Chinesepod Lesson</title>');
                mywindow.document.write('<link rel="stylesheet" href="/beta/stylesheets/printable.css" type="text/css" />');
                mywindow.document.write('</head><body >');
                mywindow.document.write(body.innerHTML);
                mywindow.document.write('</body></html>');
                mywindow.document.close();
                mywindow.focus();
                setTimeout(function(){mywindow.print();},1000);
                // mywindow.close();

                // return true;
            },

            lookupHanzi: async function(hanzi) {
                
                let hanziLookup = await this.getAPIFetch('/beta/api/v1/lookup-hanzi/'+hanzi)

                return hanziLookup
            },

            showMessage: function(message, action) {
                console.log("show message", message, action);
                document.getElementById("messageContainer").innerHTML = `<div class="text-center alert alert-${action}" role="alert">
                                            ${message}
                                        </div>`
                

                setTimeout(function(){
                    document.getElementById("messageContainer").innerHTML = ""
                },3000);
            },

            copyClipboard: function(copyData) {
                navigator.clipboard.writeText(copyData);

                this.showMessage("Copied to clipboard!", "success")
            },

            setSelectedDeckId: function(selectedDeckId) {
                this.selectedDeckId = selectedDeckId

                this.addToDecksMany()
            },

            addDeckCategory: async function() {
                // set category and save all covab to that category
                let data = {
                    tag : this.newDeckCategory
                }
                let response = await this.putAPI("https://www.chinesepod.com/api/v1/vocabulary/decks", data)
                // console.log("res from new deck category",response);

                if (response) {
                    // console.log("res from new deck category",response);
                    this.selectedDeckId = response.id

                    await this.addToDecksMany()
                    this.showMessage("Vocabulary Saved!", "success")

                }

            },

            addToDecksMany: async function() {
                // https://www.chinesepod.com/api/v1/vocabulary/words/add-many
                // {"deckId":167572,"vocabularyId":[7236527,7236528,7236529,7236526,7236524,7236525,7236522,7236523,7236520,7236521,7236518,7236519,7236517,7236516,7236514,7236515,7236513,7236512,7236511]}
                // Method PUT

                let ids = []
                for (let i=0; i < this.vocab.length; i++) {
                    ids.push(this.vocab[i].id)
                }

                let data = {
                    deckId: this.selectedDeckId,
                    vocabularyId: ids
                }

                let response = await this.putAPIFetch("https://www.chinesepod.com/api/v1/vocabulary/words/add-many", data)

                if (response) {
                    
                    this.decks = await this.getAPIFetch('https://www.chinesepod.com/api/v1/vocabulary/decks');
                    this.showMessage("Vocabulary Saved!", "success")
                }
            },

            showHanzi: function(id, animateClass, hanzi) {
                // wait to load container
                setTimeout(function(){
                    let hanziContainer = document.getElementById(id);
                    let loader = hanziContainer.querySelector('.loader')

                    loader.remove()

                    if( hanziContainer ) {
                        let writert = HanziWriter.create(id, hanzi, {
                            width: 80,
                            height: 80,
                            renderer: 'svg',
                            radicalColor: '#166E16',
                            onCorrectStroke: printStrokePoints,
                            onMistake: printStrokePoints,
                            showCharacter: false,
                        });

                        document.querySelector('.'+animateClass).addEventListener('click', function () {
                            writert.animateCharacter();
                        });
                    }
                },500);

            },

            floatingTogglePlayback: async function() {
                if (this.isActive === 'video') {
                    if (this.videoPlayer) {
                    if (this.videoPlayer.state() === 'playing') {
                        this.videoPlayer.pause();
                    } else {
                        this.videoPlayer.play();
                    }
                    } else {
                    await this.videoplyr.togglePlay(!this.videoplyr.playing);
                    }
                } else {
                    await this.togglePlayback();
                }
            },

            hlsSupport() {
                try {
                    return Hls && Hls.isSupported();
                } catch (e) {
                    alert(e);
                    return false;
                }
            },

            
        },
        computed: {
            fetchLessons: async function(){
                this.lesson = await this.getAPIFetch('https://www.chinesepod.com/api/v1/lessons/get-lesson?slug=<%= slug %>');
                // this.lesson = {"id":"1670","title":"Asking Height and Weight","slug":"asking-height-and-weight","introduction":"Just by being a foreigner in China, you're a fair target for all sorts of personal questions.  So don't be surprised when you're asked how tall you are, or how much you weigh.  In this lesson, learn to answer these questions.  Remember: for personal questions like these, truth is optional.","hash_code":"02e7a24f936f36a5c290b8863db5f3cfdaff5053","image":"https://s3contents.chinesepod.com/1670/02e7a24f936f36a5c290b8863db5f3cfdaff5053/images/3ls6s94iIcxyGbfnvXJVAg.jpg","type":"lesson","level":"Elementary","hosts":"Jason,Jenny","publication_timestamp":"2011-05-12T06:00:00.000Z","saved":false,"studied":false,"video":null,"mp3_dialogue":"https://s3contents.chinesepod.com/1670/02e7a24f936f36a5c290b8863db5f3cfdaff5053/mp3/chinesepod_B1670dg.mp3","mp3_public":"https://s3contents.chinesepod.com/1670/02e7a24f936f36a5c290b8863db5f3cfdaff5053/mp3/chinesepod_B1670pb.mp3","mp3_private":"https://s3contents.chinesepod.com/1670/02e7a24f936f36a5c290b8863db5f3cfdaff5053/mp3/chinesepod_B1670pr.mp3","mp3_thefix":"https://s3contents.chinesepod.com/1670/02e7a24f936f36a5c290b8863db5f3cfdaff5053/mp3/chinesepod_B1670rv.mp3","pdf1":"https://s3contents.chinesepod.com/1670/02e7a24f936f36a5c290b8863db5f3cfdaff5053/pdf/chinesepod_B1670.pdf","pdf2":"https://s3contents.chinesepod.com/1670/02e7a24f936f36a5c290b8863db5f3cfdaff5053/pdf/chinesepod_B1670trad.pdf","extra":false}
                if (this.lesson && this.lesson.id) {
                    
                    this.mountVideo

                    let courseId = '<%= courseId %>'
                    
                    if (courseId) this.course = await this.getAPIFetch('/api/v1/dashboard/course-lessons?courseId='+courseId+'&exclude[0]='+this.lesson.id+'&limit=2');
                    
                    this.dialogue = await this.getAPIFetch('https://www.chinesepod.com/api/v1/lessons/get-dialogue?lessonId='+this.lesson.id);
                    this.vocab = await this.getAPIFetch('https://www.chinesepod.com/api/v1/lessons/get-vocab?lessonId='+this.lesson.id);
                    this.expansion = await this.getAPIFetch('https://www.chinesepod.com/api/v1/lessons/get-expansion?lessonId='+this.lesson.id);
                    this.grammar = await this.getAPIFetch('https://www.chinesepod.com/api/v1/lessons/get-grammar?lessonId='+this.lesson.id);
                    this.downloads = await this.getAPIFetch('https://www.chinesepod.com/api/v1/lessons/get-downloads?lessonId='+this.lesson.id);
                    this.comments = await this.getAPIFetch('https://www.chinesepod.com/api/v1/lessons/get-comments?lessonId='+this.lesson.id);
                    this.questions = await this.getAPIFetch('https://www.chinesepod.com/api/v1/exercises/get-questions?lessonId='+this.lesson.id);
                    this.decks = await this.getAPIFetch('https://www.chinesepod.com/api/v1/vocabulary/decks');

                    // this.dialogue = {"speakers":["A","B","A","B","A","B","A"],"dialogue":[{"display_order":1,"speaker":"A","row_2":"How tall are you?","audio":"mp3/64/chinesepod_5844_dialogue_51003_prototype_78063_23587.mp3","v3_id":"1670","vocabulary":[{"s":"你","t":"你t","p":"ni3","en":"you"},{"s":"q多高","t":"t多高","p":"duo1 gao1","en":"how tall"}],"sentence":[{"s":"你","t":"你t","p":"ni3","en":"you"},{"s":"多高","t":"多高","p":"duo1 gao1","en":"how tall"},"？"],"en":"How tall are you?","p":"ni3 duo1 gao1 ？","t":"你多高？","s":"你多高？"},{"display_order":2,"speaker":"B","row_2":"1 meter and 78 centimeters.","audio":"mp3/64/chinesepod_5844_dialogue_51004_prototype_54956_37001.mp3","v3_id":"1670","vocabulary":[{"s":"一米七八","t":"一米七八","p":"yi1 mi3 qi1 ba1","en":"1 meter and 78 centimeters"}],"sentence":[{"s":"一米七八","t":"一米七八","p":"yi1 mi3 qi1 ba1","en":"1 meter and 78 centimeters"},"。"],"en":"1 meter and 78 centimeters.","p":"yi1 mi3 qi1 ba1 。","t":"一米七八。","s":"一米七八。"},{"display_order":3,"speaker":"A","row_2":"How heavy?","audio":"mp3/64/chinesepod_5844_dialogue_51005_prototype_98163_35551.mp3","v3_id":"1670","vocabulary":[{"s":"多重","t":"多重","p":"duo1 zhong4","en":"how heavy"}],"sentence":[{"s":"多重","t":"多重","p":"duo1 zhong4","en":"how heavy"},"？"],"en":"How heavy?","p":"duo1 zhong4 ？","t":"多重？","s":"多重？"},{"display_order":4,"speaker":"B","row_2":"About 120 kilograms.","audio":"mp3/64/chinesepod_5844_dialogue_51006_prototype_17603_21059.mp3","v3_id":"1670","vocabulary":[{"s":"大概","t":"大概","p":"da4gai4","en":"approximately"},{"s":"一百二十","t":"一百二十","p":"yi1bai3 er4shi2","en":"120"},{"s":"公斤","t":"公斤","p":"gong1jin1","en":"kilograms"}],"sentence":[{"s":"大概","t":"大概","p":"da4gai4","en":"approximately"},{"s":"一百二十","t":"一百二十","p":"yi1bai3 er4shi2","en":"120"},{"s":"公斤","t":"公斤","p":"gong1jin1","en":"kilograms"},"。"],"en":"About 120 kilograms.","p":"da4gai4 yi1bai3 er4shi2 gong1jin1 。","t":"大概一百二十公斤。","s":"大概一百二十公斤。"},{"display_order":5,"speaker":"A","row_2":"Huh? You're that fat?","audio":"mp3/64/chinesepod_5844_dialogue_51007_prototype_21891_25291.mp3","v3_id":"1670","vocabulary":[{"s":"啊","t":"啊","p":"a3","en":"[emphatic sound]"},{"s":"你","t":"你","p":"ni3","en":"you"},{"s":"这么","t":"這麼","p":"zhe4me5","en":"so, this"},{"s":"胖","t":"胖","p":"pang4","en":"fat"}],"sentence":[{"s":"啊","t":"啊","p":"a3","en":"[emphatic sound]"},"？",{"s":"你","t":"你","p":"ni3","en":"you"},{"s":"这么","t":"這麼","p":"zhe4me5","en":"so, this"},{"s":"胖","t":"胖","p":"pang4","en":"fat"},"？"],"en":"Huh? You're that fat?","p":"a3 ？ni3 zhe4me5 pang4 ？","t":"啊？你這麼胖？","s":"啊？你这么胖？"},{"display_order":6,"speaker":"B","row_2":"Oh, no. That's not right. I'm 60 kilograms and 120 jin.","audio":"mp3/64/chinesepod_5844_dialogue_51008_prototype_7767_20641.mp3","v3_id":"1670","vocabulary":[{"s":"哦","t":"哦","p":"o4","en":"\\&#039;oh\\&#039;"},{"s":"不对","t":"不對","p":"bu4 dui4","en":"incorrect"},{"s":"不对","t":"不對","p":"bu4 dui4","en":"incorrect"},{"s":"是","t":"是","p":"shi4","en":"to be"},{"s":"六十","t":"六十","p":"liu4shi2","en":"60"},{"s":"公斤","t":"公斤","p":"gong1jin1","en":"kilogram"},{"s":"一百二十","t":"一百二十","p":"yi1bai3 er4shi2","en":"120"},{"s":"斤","t":"斤","p":"jin1","en":"jin"}],"sentence":[{"s":"哦","t":"哦","p":"o4","en":"\\&#039;oh\\&#039;"},"，",{"s":"不对","t":"不對","p":"bu4 dui4","en":"incorrect"},"，",{"s":"不对","t":"不對","p":"bu4 dui4","en":"incorrect"},"。",{"s":"是","t":"是","p":"shi4","en":"to be"},{"s":"六十","t":"六十","p":"liu4shi2","en":"60"},{"s":"公斤","t":"公斤","p":"gong1jin1","en":"kilogram"},"，",{"s":"一百二十","t":"一百二十","p":"yi1bai3 er4shi2","en":"120"},{"s":"斤","t":"斤","p":"jin1","en":"jin"},"。"],"en":"Oh, no. That's not right. I'm 60 kilograms and 120 jin.","p":"o4 ，bu4 dui4 ，bu4 dui4 。shi4 liu4shi2 gong1jin1 ，yi1bai3 er4shi2 jin1 。","t":"哦，不對，不對。是六十公斤，一百二十斤。","s":"哦，不对，不对。是六十公斤，一百二十斤。"},{"display_order":7,"speaker":"A","row_2":"Gosh, don't scare me!","audio":"mp3/64/chinesepod_5844_dialogue_51009_prototype_13917_20013.mp3","v3_id":"1670","vocabulary":[{"s":"哎哟","t":"哎喲","p":"ai1you1","en":"\\&#039;geez\\&#039;"},{"s":"你","t":"你","p":"ni3","en":"you"},{"s":"别","t":"別","p":"bie2","en":"don’t"},{"s":"吓死","t":"嚇死","p":"xia4si3","en":"to scare to death"},{"s":"我","t":"我","p":"wo3","en":"me"}],"sentence":[{"s":"哎哟","t":"哎喲","p":"ai1you1","en":"\\&#039;geez\\&#039;"},"，",{"s":"你","t":"你","p":"ni3","en":"you"},{"s":"别","t":"別","p":"bie2","en":"don’t"},{"s":"吓死","t":"嚇死","p":"xia4si3","en":"to scare to death"},{"s":"我","t":"我","p":"wo3","en":"me"},"！"],"en":"Gosh, don't scare me!","p":"ai1you1 ，ni3 bie2 xia4si3 wo3 ！","t":"哎喲，你別嚇死我！","s":"哎哟，你别吓死我！"}]}
                    // this.vocab = [{"id":7236527,"s":"高","t":"高","p":"gāo","en":"tall; high","audio":"mp3/glossary/source/chinesepod_5844_vocabulary_77088_prototype_2559.mp3","vocabulary_class":"Key Vocabulary"},{"id":7236528,"s":"多高","t":"多高","p":"duō gāo","en":"how tall","audio":"mp3/glossary/source/chinesepod_5844_vocabulary_77089_prototype_5269_3079.mp3","vocabulary_class":"Key Vocabulary"},{"id":7236529,"s":"米","t":"米","p":"mǐ","en":"meter","audio":"mp3/glossary/source/chinesepod_5844_vocabulary_77090_prototype_3487_2086.mp3","vocabulary_class":"Key Vocabulary"},{"id":7236526,"s":"重","t":"重","p":"zhòng","en":"heavy","audio":"mp3/glossary/source/chinesepod_5844_vocabulary_77091_prototype_22896_21223.mp3","vocabulary_class":"Key Vocabulary"},{"id":7236524,"s":"多重","t":"多重","p":"duō zhòng","en":"how heavy","audio":"mp3/glossary/source/chinesepod_5844_vocabulary_77092_prototype_5095_13973.mp3","vocabulary_class":"Key Vocabulary"},{"id":7236525,"s":"大概","t":"大概","p":"dàgài","en":"approximately","audio":"mp3/glossary/source/chinesepod_5844_vocabulary_77095_prototype_23260_19983.mp3","vocabulary_class":"Key Vocabulary"},{"id":7236522,"s":"一百二十","t":"一百二十","p":"yībǎi èrshí","en":"120","audio":"mp3/glossary/source/chinesepod_5844_vocabulary_77096_prototype_8888_32697.mp3","vocabulary_class":"Key Vocabulary"},{"id":7236523,"s":"公斤","t":"公斤","p":"gōngjīn","en":"kilogram","audio":"mp3/glossary/source/chinesepod_5844_vocabulary_77097_prototype_11705_4505.mp3","vocabulary_class":"Key Vocabulary"},{"id":7236520,"s":"这么","t":"這麼","p":"zhème","en":"so, this","audio":"mp3/glossary/source/chinesepod_5844_vocabulary_77098_prototype_27655_46506.mp3","vocabulary_class":"Key Vocabulary"},{"id":7236521,"s":"胖","t":"胖","p":"pàng","en":"fat","audio":"mp3/glossary/source/chinesepod_5844_vocabulary_77099_prototype_18186_26112.mp3","vocabulary_class":"Key Vocabulary"},{"id":7236518,"s":"斤","t":"斤","p":"jīn","en":"jin (unit of weight)","audio":"mp3/glossary/source/chinesepod_5844_vocabulary_77101_prototype_35591_9918.mp3","vocabulary_class":"Key Vocabulary"},{"id":7236519,"s":"别","t":"別","p":"bié","en":"don’t","audio":"mp3/glossary/source/chinesepod_5844_vocabulary_77102_prototype_14874_44479.mp3","vocabulary_class":"Key Vocabulary"},{"id":7236517,"s":"吓死","t":"嚇死","p":"xiàsǐ","en":"to scare to death","audio":"mp3/glossary/source/chinesepod_5844_vocabulary_77103_prototype_25234_49201.mp3","vocabulary_class":"Key Vocabulary"},{"id":7236516,"s":"磅","t":"磅","p":"bàng","en":"pound","audio":"mp3/glossary/source/chinesepod_5844_vocabulary_77077_prototype_5994_68062.mp3","vocabulary_class":"Supplementary"},{"id":7236514,"s":"尺","t":"尺","p":"chǐ","en":"foot","audio":"mp3/glossary/source/chinesepod_5844_vocabulary_77078_prototype_59958_3263.mp3","vocabulary_class":"Supplementary"},{"id":7236515,"s":"寸","t":"寸","p":"cùn","en":"inch","audio":"mp3/glossary/source/chinesepod_5844_vocabulary_77079_prototype_50275_56817.mp3","vocabulary_class":"Supplementary"},{"id":7236513,"s":"瘦","t":"瘦","p":"shòu","en":"skinny, thin","audio":"mp3/glossary/source/chinesepod_5844_vocabulary_77080_prototype_7905_61727.mp3","vocabulary_class":"Supplementary"},{"id":7236512,"s":"矮","t":"矮","p":"ǎi","en":"short","audio":"mp3/glossary/source/chinesepod_5844_vocabulary_77081_prototype_112065_113839.mp3","vocabulary_class":"Supplementary"},{"id":7236511,"s":"轻","t":"輕","p":"qīng","en":"light","audio":"mp3/glossary/source/chinesepod_5844_vocabulary_77082_prototype_58447_63814_184480_125819.mp3","vocabulary_class":"Supplementary"}]
                    // this.questions = {"matching":[{"id":88103,"scope":"1670","score":5,"type_id":1,"status":1,"question":{"segments":[{"id":2,"s":"胖","t":"胖","p":"pàng","e":"fat"},{"id":3,"s":"重","t":"重","p":"zhòng","e":"heavy"},{"id":5,"s":"矮","t":"矮","p":"ǎi","e":"short"},{"id":1,"s":"轻","t":"輕","p":"qīng","e":"light"},{"id":4,"s":"高","t":"高","p":"gāo","e":"tall"}]},"createdAt":"2011-05-04T01:59:46.000Z"},{"id":88104,"scope":"1670","score":5,"type_id":1,"status":1,"question":{"segments":[{"id":3,"s":"公斤","t":"公斤","p":"gōngjīn","e":"kilogram"},{"id":1,"s":"大概","t":"大概","p":"dàgài","e":"approximately"},{"id":2,"s":"斤","t":"斤","p":"jīn","e":"half a kilogram"},{"id":4,"s":"米","t":"米","p":"mǐ","e":"meter"},{"id":5,"s":"别","t":"別","p":"bié","e":"don't"}]},"createdAt":"2011-05-04T01:59:46.000Z"},{"id":88105,"scope":"1670","score":5,"type_id":1,"status":1,"question":{"segments":[{"id":3,"s":"多重","t":"多重","p":"duō zhòng","e":"how heavy"},{"id":4,"s":"瘦","t":"瘦","p":"shòu","e":"thin"},{"id":5,"s":"多高","t":"多高","p":"duō gāo","e":"how tall"},{"id":2,"s":"这么","t":"這麼","p":"zhème","e":"so, this"},{"id":1,"s":"吓死","t":"嚇死","p":"xià sǐ","e":"to scare to death"}]},"createdAt":"2011-05-04T01:59:46.000Z"}],"audio":[{"id":88121,"scope":"1670","score":1,"type_id":4,"status":1,"question":{"audio":"http://s3.amazonaws.com/chinesepod.com/1670/02e7a24f936f36a5c290b8863db5f3cfdaff5053/mp3/64/chinesepod_5844_expansion_82233_prototype_58866_12099_75682_25239_6187_68026.mp3"},"answer":{"s":"她大概一百一十斤。","t":"她大概一百一十斤。","p":"tā dàgài yībǎi yīshí jīn.","e":"She's about 1 hundred and 16 jin."},"createdAt":"2011-05-04T03:36:30.000Z"},{"id":88122,"scope":"1670","score":1,"type_id":4,"status":1,"question":{"audio":"http://s3.amazonaws.com/chinesepod.com/1670/02e7a24f936f36a5c290b8863db5f3cfdaff5053/mp3/64/chinesepod_5844_expansion_82238_prototype_103817_193680.mp3"},"answer":{"s":"苹果多少钱一公斤？","t":"蘋果多少錢一公斤？","p":"píngguǒ duōshǎo qián yī gōngjīn?","e":"How much is one kilogram of apples?"},"createdAt":"2011-05-04T03:36:30.000Z"},{"id":88123,"scope":"1670","score":1,"type_id":4,"status":1,"question":{"audio":"http://s3.amazonaws.com/chinesepod.com/1670/02e7a24f936f36a5c290b8863db5f3cfdaff5053/mp3/64/chinesepod_5844_expansion_82227_prototype_159001_43863.mp3"},"answer":{"s":"公园的树很高。","t":"公園的樹很高。","p":"gōngyuán de shù hěn gāo.","e":"The trees in the park are really tall."},"createdAt":"2011-05-04T03:36:30.000Z"},{"id":88124,"scope":"1670","score":1,"type_id":4,"status":1,"question":{"audio":"http://s3.amazonaws.com/chinesepod.com/1670/02e7a24f936f36a5c290b8863db5f3cfdaff5053/mp3/64/chinesepod_5844_expansion_82237_prototype_4352_24068.mp3"},"answer":{"s":"往前走五百米。","t":"往前走五百米。","p":"wǎng qián zǒu wǔbǎi mǐ.","e":"Walk forward for 500 meters."},"createdAt":"2011-05-04T03:36:30.000Z"}],"choice":[{"id":88111,"scope":"1670","score":1,"type_id":5,"status":1,"question":{"s":"往前走五百_____。","t":"往前走五百_____。","p":"wǎng qián zǒu wǔbǎi _____.","choices":[{"id":1,"s":"重","t":"重","p":"zhòng","e":"heavy"},{"id":2,"s":"一下","t":"一下","p":"yīxià","e":"a bit"},{"id":3,"s":"长","t":"長","p":"cháng","e":"long"},{"id":4,"s":"米","t":"米","p":"mǐ","e":"meter"}]},"answer":{"id":4,"s":"往前走五百米。","t":"往前走五百米。","p":"往前走五百米。","e":"Walk forward for 500 meters."},"createdAt":"2011-05-04T01:59:49.000Z"},{"id":88112,"scope":"1670","score":1,"type_id":5,"status":1,"question":{"s":"现在_____五点钟。","t":"現在_____五點鐘。","p":"xiànzài _____ wǔ diǎnzhōng.","choices":[{"id":1,"s":"这么","t":"這麼","p":"zhème","e":"this"},{"id":2,"s":"一半","t":"一半","p":"yíbàn","e":"one half"},{"id":3,"s":"大概","t":"大概","p":"dàgài","e":"approximately"},{"id":4,"s":"别","t":"別","p":"bié","e":"don't"}]},"answer":{"id":3,"s":"现在大概五点钟。","t":"现在大概五点钟。","p":"现在大概五点钟。","e":"It's about 5 o'clock right now."},"createdAt":"2011-05-04T01:59:49.000Z"},{"id":88113,"scope":"1670","score":1,"type_id":5,"status":1,"question":{"s":"她_____一百一十斤。","t":"她_____一百一十斤。","p":"tā _____ yībǎi yīshí jīn.","choices":[{"id":1,"s":"大概","t":"大概","p":"dàgài","e":"approximately"},{"id":2,"s":"多高","t":"多高","p":"duō gāo","e":"how tall"},{"id":3,"s":"可以","t":"可以","p":"kěyǐ","e":"to be able to, can"},{"id":4,"s":"多少","t":"多少","p":"duōshǎo","e":"to some extent"}]},"answer":{"id":1,"s":"她大概一百一十斤。","t":"她大概一百一十斤。","p":"她大概一百一十斤。","e":"She's about 1 hundred and 16 jin."},"createdAt":"2011-05-04T01:59:49.000Z"},{"id":88114,"scope":"1670","score":1,"type_id":5,"status":1,"question":{"s":"一_____二以下的孩子不用买票。","t":"一_____二以下的孩子不用買票。","p":"yī _____ èr yǐxià de háizi bùyòng mǎi piào.","choices":[{"id":1,"s":"米","t":"米","p":"mǐ","e":"meter"},{"id":2,"s":"瘦","t":"瘦","p":"shòu","e":"skinny, thin"},{"id":3,"s":"斤","t":"斤","p":"jīn","e":"half a kilogram"},{"id":4,"s":"轻","t":"輕","p":"qīng","e":"light"}]},"answer":{"id":1,"s":"一米二以下的孩子不用买票。","t":"一米二以下的孩子不用买票。","p":"一米二以下的孩子不用买票。","e":"Children below 1.2 meters don't have to buy tickets."},"createdAt":"2011-05-04T01:59:49.000Z"},{"id":88115,"scope":"1670","score":1,"type_id":5,"status":1,"question":{"s":"你儿子多_____？","t":"你兒子多_____？","p":"nǐ érzi duō _____?","choices":[{"id":1,"s":"公斤","t":"公斤","p":"gōngjīn","e":"kilogram"},{"id":2,"s":"矮","t":"矮","p":"ǎi","e":"short (of height)"},{"id":3,"s":"长","t":"長","p":"cháng","e":"long"},{"id":4,"s":"重","t":"重","p":"zhòng","e":"heavy"}]},"answer":{"id":4,"s":"你儿子多重？","t":"你儿子多重？","p":"你儿子多重？","e":"How much does your son weigh?"},"createdAt":"2011-05-04T01:59:49.000Z"},{"id":88116,"scope":"1670","score":1,"type_id":5,"status":1,"question":{"s":"五块钱一斤，也就是十块钱一_____。","t":"五塊錢一斤，也就是十塊錢一_____。","p":"wǔ kuàiqián yī jīn,yějiùshì shí kuàiqián yī _____.","choices":[{"id":1,"s":"胖","t":"胖","p":"pàng","e":"fat"},{"id":2,"s":"公斤","t":"公斤","p":"gōngjīn","e":"kilogram"},{"id":3,"s":"可能","t":"可能","p":"kěnéng","e":"possible"},{"id":4,"s":"大概","t":"大概","p":"dàgài","e":"roughly"}]},"answer":{"id":2,"s":"五块钱一斤，也就是十块钱一公斤。","t":"五块钱一斤，也就是十块钱一公斤。","p":"五块钱一斤，也就是十块钱一公斤。","e":"Five kuai for one jin means it's ten kuai for one kilogram."},"createdAt":"2011-05-04T01:59:49.000Z"},{"id":88117,"scope":"1670","score":1,"type_id":5,"status":1,"question":{"s":"我买了五_____大米。","t":"我買了五_____大米。","p":"wǒ mǎi le wǔ _____ dàmǐ.","choices":[{"id":1,"s":"个","t":"個","p":"gè","e":"measure word"},{"id":2,"s":"条","t":"條","p":"tiáo","e":"[measure word]"},{"id":3,"s":"公斤","t":"公斤","p":"gōngjīn","e":"kilogram"},{"id":4,"s":"根","t":"根","p":"gēn","e":"[measure word]"}]},"answer":{"id":3,"s":"我买了五公斤大米。","t":"我买了五公斤大米。","p":"我买了五公斤大米。","e":"I bought five kilograms of rice."},"createdAt":"2011-05-04T01:59:49.000Z"},{"id":88118,"scope":"1670","score":1,"type_id":5,"status":1,"question":{"s":"我的行李很_____。","t":"我的行李很_____。","p":"wǒ de xíngli hěn _____.","choices":[{"id":1,"s":"瘦","t":"瘦","p":"shòu","e":"thin"},{"id":2,"s":"胖","t":"胖","p":"pàng","e":"fat"},{"id":3,"s":"重","t":"重","p":"zhòng","e":"heavy"},{"id":4,"s":"找","t":"找","p":"zhǎo","e":"to look for"}]},"answer":{"id":3,"s":"我的行李很重。","t":"我的行李很重。","p":"我的行李很重。","e":"My luggage is really heavy."},"createdAt":"2011-05-04T01:59:49.000Z"},{"id":88119,"scope":"1670","score":1,"type_id":5,"status":1,"question":{"s":"他多_____？","t":"他多_____？","p":"tā duō _____?","choices":[{"id":1,"s":"吓","t":"嚇","p":"xià","e":"to frighten"},{"id":2,"s":"斤","t":"斤","p":"jīn","e":"half a kilogram"},{"id":3,"s":"很","t":"很","p":"hěn","e":"very"},{"id":4,"s":"高","t":"高","p":"gāo","e":"tall"}]},"answer":{"id":4,"s":"他多高？","t":"他多高？","p":"他多高？","e":"How tall is he?"},"createdAt":"2011-05-04T01:59:49.000Z"},{"id":88120,"scope":"1670","score":1,"type_id":5,"status":1,"question":{"s":"他_____三十岁。","t":"他_____三十歲。","p":"tā _____ sānshí suì.","choices":[{"id":1,"s":"大概","t":"大概","p":"dàgài","e":"approximately"},{"id":2,"s":"这么","t":"這麼","p":"zhème","e":"so, this"},{"id":3,"s":"多高","t":"多高","p":"duō gāo","e":"how tall"},{"id":4,"s":"多久","t":"多久","p":"duōjiǔ","e":"how long"}]},"answer":{"id":1,"s":"他大概三十岁。","t":"他大概三十岁。","p":"他大概三十岁。","e":"He's about 30 years old."},"createdAt":"2011-05-04T01:59:49.000Z"}],"rearrange":[{"id":88106,"scope":"1670","score":6,"type_id":2,"status":1,"question":{"segments":[{"s":"你多高？","t":"你多高？","p":"nǐ duō gāo?","e":"How tall are you?","id":1},{"s":"一米七八。","t":"一米七八。","p":"yī mǐ qī bā.","e":"1 meter and 78 centimeters.","id":2},{"s":"多重？","t":"多重？","p":"duō zhòng?","e":"How heavy?","id":3},{"s":"大概一百二十公斤。","t":"大概一百二十公斤。","p":"dàgài yībǎi èrshí gōngjīn.","e":"About 120 kilograms.","id":4},{"s":"啊？你这么胖？","t":"啊？你這麼胖？","p":"ǎ?nǐ zhème pàng?","e":"Huh? You're that fat?","id":5},{"s":"哦，不对，不对。是六十公斤，一百二十斤。","t":"哦，不對，不對。是六十公斤，一百二十斤。","p":"ò,bù duì,bù duì.shì liùshí gōngjīn,yībǎi èrshí jīn.","e":"Oh, no. That's not right. I'm 60 kilograms and 120 jin.","id":6},{"s":"哎哟，你别吓死我！","t":"哎喲，你別嚇死我！","p":"āiyōu,nǐ bié xiàsǐ wǒ!","e":"Gosh, don't scare me!","id":7}]},"createdAt":"2011-05-04T01:59:46.000Z"}]}
                    // this.expansion = [{"phrase":"高","examples":[{"id":223119,"vocabulary":"高","audio":"mp3/64/chinesepod_5844_expansion_82226_prototype_137401_14486_149387_203145.mp3","sentence":[{"s":"你","t":"你","p":"ni3","en":"your"},{"s":"男朋友","t":"男朋友","p":"nan2 peng2you5","en":"boyfriend"},{"s":"真","t":"真","p":"zhen1","en":"really"},{"s":"高","t":"高","p":"gao1","en":"tall"},"！"],"target":"Your boyfriend is really tall!","en":"Your boyfriend is really tall!","p":"ni3 nan2 peng2you5 zhen1 gao1 ！","s":"你男朋友真高！","t":"你男朋友真高！"},{"id":223120,"vocabulary":"高","audio":"mp3/64/chinesepod_5844_expansion_82227_prototype_159001_43863.mp3","sentence":[{"s":"公园","t":"公園","p":"gong1yuan2","en":"park"},{"s":"的","t":"的","p":"de5","en":""},{"s":"树","t":"樹","p":"shu4","en":"tree"},{"s":"很","t":"很","p":"hen3","en":"very"},{"s":"高","t":"高","p":"gao1","en":"tall"},"。"],"target":"The trees in the park are really tall.","en":"The trees in the park are really tall.","p":"gong1yuan2 de5 shu4 hen3 gao1 。","s":"公园的树很高。","t":"公園的樹很高。"},{"id":223121,"vocabulary":"高","audio":"mp3/64/chinesepod_5844_expansion_82228_prototype_14184_14007.mp3","sentence":[{"s":"他","t":"他","p":"ta1","en":"he"},{"s":"多高","t":"多高","p":"duo1 gao1","en":"how tall"},"？"],"target":"How tall is he?","en":"How tall is he?","p":"ta1 duo1 gao1 ？","s":"他多高？","t":"他多高？"}]},{"phrase":"重","examples":[{"id":223122,"vocabulary":"重","audio":"mp3/64/chinesepod_5844_expansion_82229_prototype_26297_37576.mp3","sentence":[{"s":"我的","t":"我的","p":"wo3 de5","en":"my"},{"s":"行李","t":"行李","p":"xing2li5","en":"luggage"},{"s":"很","t":"很","p":"hen3","en":"very"},{"s":"重","t":"重","p":"zhong4","en":"heavy"},"。"],"target":"My luggage is really heavy.","en":"My luggage is really heavy.","p":"wo3 de5 xing2li5 hen3 zhong4 。","s":"我的行李很重。","t":"我的行李很重。"},{"id":223123,"vocabulary":"重","audio":"mp3/64/chinesepod_5844_expansion_82230_prototype_298_36027.mp3","sentence":[{"s":"你的","t":"你的","p":"ni3 de5","en":"your"},{"s":"包","t":"包","p":"bao1","en":"bag"},{"s":"怎么","t":"怎麼","p":"zen3me5","en":"how"},{"s":"这么","t":"這麼","p":"zhe4me5","en":"so, this"},{"s":"重","t":"重","p":"zhong4","en":"heavy"},"？"],"target":"How is your bag so heavy?","en":"How is your bag so heavy?","p":"ni3 de5 bao1 zen3me5 zhe4me5 zhong4 ？","s":"你的包怎么这么重？","t":"你的包怎麼這麼重？"},{"id":223124,"vocabulary":"重","audio":"mp3/64/chinesepod_5844_expansion_82231_prototype_57991_53145.mp3","sentence":[{"s":"你","t":"你","p":"ni3","en":"your"},{"s":"儿子","t":"兒子","p":"er2zi5","en":"son"},{"s":"多重","t":"多重","p":"duo1 zhong4","en":"how heavy"},"？"],"target":"How much does your son weigh?","en":"How much does your son weigh?","p":"ni3 er2zi5 duo1 zhong4 ？","s":"你儿子多重？","t":"你兒子多重？"}]},{"phrase":"大概","examples":[{"id":223125,"vocabulary":"大概","audio":"mp3/64/chinesepod_5844_expansion_82232_prototype_35574_20691.mp3","sentence":[{"s":"现在","t":"現在","p":"xian4zai4","en":"now"},{"s":"大概","t":"大概","p":"da4gai4","en":"approximately"},{"s":"五点钟","t":"五點鐘","p":"wu3 dian3zhong1","en":"5 o\\&#039;clock"},"。"],"target":"It's about 5 o'clock right now.","en":"It's about 5 o'clock right now.","p":"xian4zai4 da4gai4 wu3 dian3zhong1 。","s":"现在大概五点钟。","t":"現在大概五點鐘。"},{"id":223126,"vocabulary":"大概","audio":"mp3/64/chinesepod_5844_expansion_82233_prototype_58866_12099_75682_25239_6187_68026.mp3","sentence":[{"s":"她","t":"她","p":"ta1","en":"she"},{"s":"大概","t":"大概","p":"da4gai4","en":"probably"},{"s":"一百一十","t":"一百一十","p":"yi1bai3 yi1shi2","en":"one hundred"},{"s":"斤","t":"斤","p":"jin1","en":"jin"},"。"],"target":"She's about 1 hundred and 10 jin.","en":"She's about 1 hundred and 10 jin.","p":"ta1 da4gai4 yi1bai3 yi1shi2 jin1 。","s":"她大概一百一十斤。","t":"她大概一百一十斤。"},{"id":223127,"vocabulary":"大概","audio":"mp3/64/chinesepod_5844_expansion_82234_prototype_186741_111595.mp3","sentence":[{"s":"他","t":"他","p":"ta1","en":"he"},{"s":"大概","t":"大概","p":"da4gai4","en":"approximately"},{"s":"三十岁","t":"三十歲","p":"san1shi2 sui4","en":"30 years old"},"。"],"target":"He's about 30 years old.","en":"He's about 30 years old.","p":"ta1 da4gai4 san1shi2 sui4 。","s":"他大概三十岁。","t":"他大概三十歲。"}]},{"phrase":"米","examples":[{"id":223128,"vocabulary":"米","audio":"mp3/64/chinesepod_5844_expansion_82235_prototype_44885_56329_80362_41953.mp3","sentence":[{"s":"她","t":"她","p":"ta1","en":"she"},{"s":"一","t":"一","p":"yi1","en":"one"},{"s":"米","t":"米","p":"mi3","en":"meter"},{"s":"六","t":"六","p":"liu4","en":"six"},{"s":"三","t":"三","p":"san1","en":"three"},"。"],"target":"She's one meter and sixty-three centimeters.","en":"She's one meter and sixty-three centimeters.","p":"ta1 yi1 mi3 liu4 san1 。","s":"她一米六三。","t":"她一米六三。"},{"id":223129,"vocabulary":"米","audio":"mp3/64/chinesepod_5844_expansion_82236_prototype_62833_42850.mp3","sentence":[{"s":"一","t":"一","p":"yi1","en":"one"},{"s":"米","t":"米","p":"mi3","en":"meter"},{"s":"二","t":"二","p":"er4","en":"two"},{"s":"以下","t":"以下","p":"yi3xia4","en":"below"},{"s":"的","t":"的","p":"de5","en":""},{"s":"孩子","t":"孩子","p":"hai2zi5","en":"child"},{"s":"不用","t":"不用","p":"bu4yong4","en":"need not"},{"s":"买","t":"買","p":"mai3","en":"to buy"},{"s":"票","t":"票","p":"piao4","en":"ticket"},"。"],"target":"Children below 1.2 meters don't have to buy tickets.","en":"Children below 1.2 meters don't have to buy tickets.","p":"yi1 mi3 er4 yi3xia4 de5 hai2zi5 bu4yong4 mai3 piao4 。","s":"一米二以下的孩子不用买票。","t":"一米二以下的孩子不用買票。"},{"id":223130,"vocabulary":"米","audio":"mp3/64/chinesepod_5844_expansion_82237_prototype_4352_24068.mp3","sentence":[{"s":"往","t":"往","p":"wang3","en":"towards"},{"s":"前","t":"前","p":"qian2","en":"ahead"},{"s":"走","t":"走","p":"zou3","en":"to walk"},{"s":"五百","t":"五百","p":"wu3bai3","en":"500"},{"s":"米","t":"米","p":"mi3","en":"meters"},"。"],"target":"Walk forward for 500 meters.","en":"Walk forward for 500 meters.","p":"wang3 qian2 zou3 wu3bai3 mi3 。","s":"往前走五百米。","t":"往前走五百米。"}]},{"phrase":"公斤","examples":[{"id":223131,"vocabulary":"公斤","audio":"mp3/64/chinesepod_5844_expansion_82240_prototype_106700_86997_147158_167824.mp3","sentence":[{"s":"五块钱","t":"五塊錢","p":"wu3 kuai4qian2","en":"5 RMB"},{"s":"一","t":"一","p":"yi1","en":"one"},{"s":"斤","t":"斤","p":"jin1","en":"jin"},"，",{"s":"也就是","t":"也就是","p":"ye3jiu4shi4","en":"is the same as"},{"s":"十块钱","t":"十塊錢","p":"shi2 kuai4qian2","en":"ten kuai"},{"s":"一","t":"一","p":"yi1","en":"one"},{"s":"公斤","t":"公斤","p":"gong1jin1","en":"kilogram"},"。"],"target":"Five kuai for one jin means it's ten kuai for one kilogram.","en":"Five kuai for one jin means it's ten kuai for one kilogram.","p":"wu3 kuai4qian2 yi1 jin1 ，ye3jiu4shi4 shi2 kuai4qian2 yi1 gong1jin1 。","s":"五块钱一斤，也就是十块钱一公斤。","t":"五塊錢一斤，也就是十塊錢一公斤。"},{"id":223132,"vocabulary":"公斤","audio":"mp3/64/chinesepod_5844_expansion_82239_prototype_61304_156196.mp3","sentence":[{"s":"我","t":"我","p":"wo3","en":"I"},{"s":"买","t":"買","p":"mai3","en":"to buy"},{"s":"了","t":"了","p":"le5","en":""},{"s":"五","t":"五","p":"wu3","en":"five"},{"s":"公斤","t":"公斤","p":"gong1jin1","en":"kilogram"},{"s":"大米","t":"大米","p":"da4mi3","en":"rice"},"。"],"target":"I bought five kilograms of rice.","en":"I bought five kilograms of rice.","p":"wo3 mai3 le5 wu3 gong1jin1 da4mi3 。","s":"我买了五公斤大米。","t":"我買了五公斤大米。"},{"id":223133,"vocabulary":"公斤","audio":"mp3/64/chinesepod_5844_expansion_82238_prototype_103817_193680.mp3","sentence":[{"s":"苹果","t":"蘋果","p":"ping2guo3","en":"apple"},{"s":"多少钱","t":"多少錢","p":"duo1shao3 qian2","en":"how much money"},{"s":"一","t":"一","p":"yi1","en":"one"},{"s":"公斤","t":"公斤","p":"gong1jin1","en":"kilogram"},"？"],"target":"How much is one kilogram of apples?","en":"How much is one kilogram of apples?","p":"ping2guo3 duo1shao3 qian2 yi1 gong1jin1 ？","s":"苹果多少钱一公斤？","t":"蘋果多少錢一公斤？"}]}]
                    // this.grammar = [{"grammar":{"id":262,"name":"approximately","introduction":"大概 (dàgài) can mean \"approximately\" or \"about,\" indicating the speaker's best estimation.","tree":"Main Index > Parts of Speech > Adverbs > Types > General>大概 > 大概 (dàgài) > approximately","createdAt":"2010-03-18T20:52:41.000Z"},"examples":[{"target":"She's probably about twenty years old.","audio":"chinesepod_262_expansionbygrammar_293_prototype_4258.mp3","sentence":[{"s":"她","t":"她","p":"ta1","en":"she"},{"s":"大概","t":"大概","p":"da4gai4","en":"probably"},{"s":"二十岁","t":"二十歲","p":"er4shi2 sui4","en":"20 years old"},"。"],"en":"She's probably about twenty years old.","p":"ta1 da4gai4 er4shi2 sui4 。","s":"她大概二十岁。","t":"她大概二十歲。"},{"target":"Tomorrow it will be about 15 degrees.","audio":"chinesepod_262_expansionbygrammar_294_prototype_1929_9183_17972_11349.mp3","sentence":[{"s":"明天","t":"明天","p":"ming2tian1","en":"tomorrow"},{"s":"大概","t":"大概","p":"da4gai4","en":"probably"},{"s":"15","t":"15","p":"shi2wu3","en":"15"},{"s":"度","t":"度","p":"du4","en":"degrees"},"。"],"en":"Tomorrow it will be about 15 degrees.","p":"ming2tian1 da4gai4 shi2wu3 du4 。","s":"明天大概15度。","t":"明天大概15度。"},{"target":"He will probably arrive at 8 o'clock.","audio":"chinesepod_262_expansionbygrammar_295_prototype_17064_23329.mp3","sentence":[{"s":"他","t":"他","p":"ta1","en":"he"},{"s":"大概","t":"大概","p":"da4gai4","en":"probably"},{"s":"八点钟","t":"八點鐘","p":"ba1 dian3zhong1","en":"eight o‘clock"},{"s":"来","t":"來","p":"lai2","en":"to come"},"。"],"en":"He will probably arrive at 8 o'clock.","p":"ta1 da4gai4 ba1 dian3zhong1 lai2 。","s":"他大概八点钟来。","t":"他大概八點鐘來。"},{"target":"That meeting has been in session for about half an hour.","audio":"chinesepod_262_expansionbygrammar_296_prototype_38873_28636.mp3","sentence":[{"s":"那个","t":"那個","p":"na4ge5","en":"that"},{"s":"会","t":"會","p":"hui4","en":"meeting"},{"s":"大概","t":"大概","p":"da4gai4","en":"probably"},{"s":"开","t":"開","p":"kai1","en":"to hold"},{"s":"了","t":"了","p":"le5","en":""},{"s":"半个小时","t":"半個小時","p":"ban4 ge5 xiao3shi2","en":"half an hour"},"。"],"en":"That meeting has been in session for about half an hour.","p":"na4ge5 hui4 da4gai4 kai1 le5 ban4 ge5 xiao3shi2 。","s":"那个会大概开了半个小时。","t":"那個會大概開了半個小時。"},{"target":"I'm going to return to my home country at about the end of October.","audio":"chinesepod_262_expansionbygrammar_297_prototype_42001_8302.mp3","sentence":[{"s":"我","t":"我","p":"wo3","en":"I"},{"s":"大概","t":"大概","p":"da4gai4","en":"probably"},{"s":"10月底","t":"10月底","p":"shi2 yue4 di3","en":"at the end of October"},{"s":"回国","t":"回國","p":"hui2guo2","en":"to return to one’s home country"},"。"],"en":"I'm going to return to my home country at about the end of October.","p":"wo3 da4gai4 shi2 yue4 di3 hui2guo2 。","s":"我大概10月底回国。","t":"我大概10月底回國。"}],"updatedAt":"2010-03-18T20:52:41.000Z"},{"grammar":{"id":303,"name":"how (much)","introduction":"多 (duō) is used in interrogative sentences and inquires about an extent or amount, similar to \"how much\" in English.  Usually placed before an adjective.","tree":"Main Index > Parts of Speech > Adverbs > Types > General > 多 (duō) > how (much)","createdAt":"2010-03-18T20:52:42.000Z"},"examples":[{"target":"How tall is Yao Ming?","audio":"http://s3.amazonaws.com/chinesepod.com/0713/dfa68a56d8ca022c7f5516ac188b8eefe1c9ac6b/mp3/64/rec-1195799332984-16.mp3","sentence":[{"s":"姚明","t":"姚明","p":"Yao2 Ming2","en":"Yao Ming"},{"s":"有","t":"有","p":"you3","en":"to have"},{"s":"多高","t":"多高","p":"duo1 gao1","en":"how tall"},"？"],"en":"How tall is Yao Ming?","p":"Yao2 Ming2 you3 duo1 gao1 ？","s":"姚明有多高？","t":"姚明有多高？"},{"target":"How long do we have to wait?","audio":"http://s3.amazonaws.com/chinesepod.com/1120/c0687d5b718cdd9c7408faf2739d9ed5e57739eb/mp3/64/rec-1235609441515-8.mp3","sentence":[{"s":"要","t":"要","p":"yao4","en":"must"},{"s":"等","t":"等","p":"deng3","en":"to wait"},{"s":"多长时间","t":"多長時間","p":"duo1chang2 shi2jian1","en":"for how long"},"？"],"en":"How long do we have to wait?","p":"yao4 deng3 duo1chang2 shi2jian1 ？","s":"要等多长时间？","t":"要等多長時間？"},{"target":"How old is your father?","audio":"http://s3.amazonaws.com/chinesepod.com/1752/4b8800d722004f2217e1a24118ee9fda276109a0/mp3/64/chinesepod_6143_expansion_85560_prototype_7259_5605.mp3","sentence":[{"s":"你","t":"你","p":"ni3","en":"your"},{"s":"爸爸","t":"爸爸","p":"ba4ba5","en":"dad"},{"s":"多大","t":"多大","p":"duo1 da4","en":"how old"},{"s":"了","t":"了","p":"le5","en":""},"？"],"en":"How old is your father?","p":"ni3 ba4ba5 duo1 da4 le5 ？","s":"你爸爸多大了？","t":"你爸爸多大了？"},{"target":"How far is it from your home to the company?","audio":"http://s3.amazonaws.com/chinesepod.com/1120/c0687d5b718cdd9c7408faf2739d9ed5e57739eb/mp3/64/rec-1235609441515-7.mp3","sentence":[{"s":"从","t":"從","p":"cong2","en":"from"},{"s":"你","t":"你","p":"ni3","en":"your"},{"s":"家","t":"家","p":"jia1","en":"home"},{"s":"到","t":"到","p":"dao4","en":"to"},{"s":"公司","t":"公司","p":"gong1si1","en":"company"},{"s":"有","t":"有","p":"you3","en":"to have"},{"s":"多远","t":"多遠","p":"duo1yuan3","en":"how far"},"？"],"en":"How far is it from your home to the company?","p":"cong2 ni3 jia1 dao4 gong1si1 you3 duo1yuan3 ？","s":"从你家到公司有多远？","t":"從你家到公司有多遠？"},{"target":"How much does your son weigh?","audio":"http://s3.amazonaws.com/chinesepod.com/1670/02e7a24f936f36a5c290b8863db5f3cfdaff5053/mp3/64/chinesepod_5844_expansion_82231_prototype_57991_53145.mp3","sentence":[{"s":"你","t":"你","p":"ni3","en":"your"},{"s":"儿子","t":"兒子","p":"er2zi5","en":"son"},{"s":"多重","t":"多重","p":"duo1 zhong4","en":"how heavy"},"？"],"en":"How much does your son weigh?","p":"ni3 er2zi5 duo1 zhong4 ？","s":"你儿子多重？","t":"你兒子多重？"}],"updatedAt":"2010-03-18T20:52:42.000Z"},{"grammar":{"id":842,"name":"expressing degree, method, and amount","introduction":"这么(zhème) can be used to express the degree of a quality, the way of completing an action, or an amount of something.","tree":"Main Index > Parts of Speech > Pronouns > Types > Demonstrative Pronouns > 这么(zhème) > expressing degree, method, and amount","createdAt":"0000-00-00 00:00:00"},"examples":[{"target":"So dirty! Go wash your hands!","audio":"chinesepod_842_expansionbygrammar_2909_prototype_13479_29737.mp3","sentence":[{"s":"这么","t":"這麼","p":"zhe4me5","en":"so"},{"s":"脏","t":"髒","p":"zang1","en":"dirty"},"！",{"s":"去","t":"去","p":"qu4","en":"to go"},{"s":"洗","t":"洗","p":"xi3","en":"to wash"},{"s":"手","t":"手","p":"shou3","en":"hand"},"！"],"en":"So dirty! Go wash your hands!","p":"zhe4me5 zang1 ！qu4 xi3 shou3 ！","s":"这么脏！去洗手！","t":"這麼髒！去洗手！"},{"target":"So much luggage. It's such a hassle!","audio":"chinesepod_842_expansionbygrammar_2910_prototype_4661_28415.mp3","sentence":[{"s":"这么","t":"這麼","p":"zhe4me5","en":"so"},{"s":"多","t":"多","p":"duo1","en":"much"},{"s":"行李","t":"行李","p":"xing2li5","en":"luggage"},"，",{"s":"真","t":"真","p":"zhen1","en":"really"},{"s":"麻烦","t":"麻煩","p":"ma2fan5","en":"troublesome"},"！"],"en":"So much luggage. It's such a hassle!","p":"zhe4me5 duo1 xing2li5 ，zhen1 ma2fan5 ！","s":"这么多行李，真麻烦！","t":"這麼多行李，真麻煩！"},{"target":"It's so late. How come he hasn't come home yet?","audio":"chinesepod_842_expansionbygrammar_2911_prototype_21042_18942.mp3","sentence":[{"s":"这么","t":"這麼","p":"zhe4me5","en":"so"},{"s":"晚","t":"晚","p":"wan3","en":"late"},{"s":"了","t":"了","p":"le5","en":""},"，",{"s":"他","t":"他","p":"ta1","en":"he"},{"s":"怎么","t":"怎麼","p":"zen3me5","en":"how come"},{"s":"还","t":"還","p":"hai2","en":"still"},{"s":"没","t":"沒","p":"mei2","en":"not"},{"s":"回家","t":"回家","p":"hui2jia1","en":"to come home"},"？"],"en":"It's so late. How come he hasn't come home yet?","p":"zhe4me5 wan3 le5 ，ta1 zen3me5 hai2 mei2 hui2jia1 ？","s":"这么晚了，他怎么还没回家？","t":"這麼晚了，他怎麼還沒回家？"},{"target":"Your Chinese is so good!  Really amazing!","audio":"chinesepod_842_expansionbygrammar_2912_prototype_16099_8781_11082_1113.mp3","sentence":[{"s":"你","t":"你","p":"ni3","en":"your"},{"s":"中文","t":"中文","p":"Zhong1wen2","en":"Chinese"},{"s":"说","t":"說","p":"shuo1","en":"to speak"},{"s":"得","t":"得","p":"de5","en":""},{"s":"这么","t":"這麼","p":"zhe4me5","en":"so"},{"s":"好","t":"好","p":"hao3","en":"good"},"！",{"s":"真","t":"真","p":"zhen1","en":"really"},{"s":"厉害","t":"厲害","p":"li4hai5","en":"awesome"},"！"],"en":"Your Chinese is so good!  Really amazing!","p":"ni3 Zhong1wen2 shuo1 de5 zhe4me5 hao3 ！zhen1 li4hai5 ！","s":"你中文说得这么好！真厉害！","t":"你中文說得這麼好！真厲害！"},{"target":"How can you be so lazy?","audio":"chinesepod_842_expansionbygrammar_2913_prototype_10607.mp3","sentence":[{"s":"你","t":"你","p":"ni3","en":"you"},{"s":"怎么","t":"怎麼","p":"zen3me5","en":"how"},{"s":"这么","t":"這麼","p":"zhe4me5","en":"this, so"},{"s":"懒","t":"懶","p":"lan3","en":"lazy"},"？"],"en":"How can you be so lazy?","p":"ni3 zen3me5 zhe4me5 lan3 ？","s":"你怎么这么懒？","t":"你怎麼這麼懶？"}],"updatedAt":"2011-08-11T21:40:13.000Z"}]
                    // this.downloads = {"type":"premium","downloads":{"lesson":"https://s3.amazonaws.com/chinesepod.com/1670/02e7a24f936f36a5c290b8863db5f3cfdaff5053/mp3/chinesepod_B1670pr.mp3","dialogue":"https://s3.amazonaws.com/chinesepod.com/1670/02e7a24f936f36a5c290b8863db5f3cfdaff5053/mp3/chinesepod_B1670dg.mp3","review":"https://s3.amazonaws.com/chinesepod.com/1670/02e7a24f936f36a5c290b8863db5f3cfdaff5053/mp3/chinesepod_B1670rv.mp3","pdf1":"https://s3.amazonaws.com/chinesepod.com/1670/02e7a24f936f36a5c290b8863db5f3cfdaff5053/pdf/chinesepod_B1670.pdf","pdf2":"https://s3.amazonaws.com/chinesepod.com/1670/02e7a24f936f36a5c290b8863db5f3cfdaff5053/pdf/chinesepod_B1670trad.pdf"}}
                    // this.comments = {"count":34,"comments":[{"id":294613,"content":"<p>Presenters: Dang, 120 kilograms sure is fat!<br><br>Me (weighing almost exactly 120 kilograms): Uh, guys, I'm still here...</p><p>😂</p>","reply_to_id":0,"reply_to_id_2":0,"reply_to_user_id":0,"comment_from":0,"created_at":"2022-02-27T07:05:15.000Z","user_id":1201544,"username":"metalsandman99911","avatar_url":""},{"id":294344,"content":"<p>In the expansion, what is the reasoning behind saying 一百一十 instead of 一百十 when discussing weight?</p>","reply_to_id":0,"reply_to_id_2":0,"reply_to_user_id":0,"comment_from":0,"created_at":"2021-11-18T03:28:08.000Z","user_id":1174460,"username":"MrBrown95","avatar_url":"https://chinesepod-user-profiles.s3.amazonaws.com/profiles/1174460/23e560b5-1347-4a12-99dd-3fa642f7e43b.jpg","nestedComments":[{"id":294349,"content":"<p>If you want to say the number 110, you should not omit the 一 in between 一百 and 十 because you're indicating the amount of 十 in this number!</p>","reply_to_id":294344,"reply_to_id_2":0,"reply_to_user_id":1174460,"comment_from":0,"created_at":"2021-11-21T04:03:11.000Z","user_id":1050618,"username":"BeccaChu","avatar_url":"https://chinesepod-user-profiles.s3.amazonaws.com/profiles/1050618/image.jpg"}]},{"id":293971,"content":"<p>When to use 差不多 vs 大概? Some examples please.</p>","reply_to_id":0,"reply_to_id_2":0,"reply_to_user_id":0,"comment_from":0,"created_at":"2021-06-21T05:17:33.000Z","user_id":155024,"username":"light487","avatar_url":"https://chinesepod-user-profiles.s3.amazonaws.com/profiles/155024/image.jpg","nestedComments":[{"id":294006,"content":"<p>差不多 and 大概 can be used interchangeably in most cases. The main difference is 差不多 can be an adjective but 大概 cannot. For example, 这两本书差不多 (O) 这本书大概 (X). Some more examples: 今天差不多/大概20度. 我差不多/大概知道了.</p>","reply_to_id":293971,"reply_to_id_2":0,"reply_to_user_id":155024,"comment_from":0,"created_at":"2021-07-02T02:29:14.000Z","user_id":1050618,"username":"BeccaChu","avatar_url":"https://chinesepod-user-profiles.s3.amazonaws.com/profiles/1050618/image.jpg"}]},{"id":293137,"content":"<p>Can 大概 also be used in a question? <br><br>明天空气大概几度？</p>","reply_to_id":0,"reply_to_id_2":0,"reply_to_user_id":0,"comment_from":0,"created_at":"2020-09-10T20:32:43.000Z","user_id":1047762,"username":"Lara de Vaal","avatar_url":"https://chinesepod-user-profiles.s3.amazonaws.com/profiles/1047762/9ce4ff84-6e93-4564-b7bc-1b0425680191.JPG","nestedComments":[{"id":293213,"content":"<p>Yes you can use it in a question. Perfect sentence!</p>","reply_to_id":293137,"reply_to_id_2":0,"reply_to_user_id":1047762,"comment_from":0,"created_at":"2020-10-15T19:03:34.000Z","user_id":1050618,"username":"BeccaChu","avatar_url":"https://chinesepod-user-profiles.s3.amazonaws.com/profiles/1050618/image.jpg"}]},{"id":288945,"content":"<p>My friend told me when you can go traditional market in China, normally you have to use jin instead of gongjin. Is this correct?</p>","reply_to_id":0,"reply_to_id_2":0,"reply_to_user_id":0,"comment_from":0,"created_at":"2019-08-07T06:26:35.000Z","user_id":1071728,"username":"8890909","avatar_url":""},{"id":270079,"content":"<p>Australians moved to the metric system of measurement about 40 years ago. We changed our currency to metric in 1966.</p>","reply_to_id":0,"reply_to_id_2":0,"reply_to_user_id":0,"comment_from":0,"created_at":"2014-05-11T16:22:57.000Z","user_id":791579,"username":"dorothycowling","avatar_url":""},{"id":264302,"content":"我真的一米七八。","reply_to_id":0,"reply_to_id_2":0,"reply_to_user_id":0,"comment_from":0,"created_at":"2013-10-16T14:05:43.000Z","user_id":755143,"username":"abdulbasitqadri","avatar_url":"https://chinesepod-user-profiles.s3.amazonaws.com/profiles/755143/image.jpg"},{"id":234125,"content":"<p>what is the difference between差不多 and 大概?</p>","reply_to_id":0,"reply_to_id_2":0,"reply_to_user_id":0,"comment_from":0,"created_at":"2012-04-17T18:44:54.000Z","user_id":17001,"username":"user17001","avatar_url":"","nestedComments":[{"id":267123,"content":"<p>差不多 is often \"more or less equivalent\"  \"almost as good\"or even \"almost the same\" while 大概 is approximately so they are similar... but you wouldnt say I am almost the same as 5'9\"  likewise you wouldnt say that the toyota camry and the honda accord are approximately the same car.... but they are 差不多</p>\r\n<p>is that about right? I am not a 中国通  (today's lesson for me!)</p>","reply_to_id":234125,"reply_to_id_2":0,"reply_to_user_id":17001,"comment_from":0,"created_at":"2014-01-16T17:24:59.000Z","user_id":641239,"username":"frac001","avatar_url":"https://chinesepod-user-profiles.s3.amazonaws.com/profiles/641239/image.jpg"},{"id":267247,"content":"<p>对的。</p>","reply_to_id":234125,"reply_to_id_2":267123,"reply_to_user_id":641239,"comment_from":0,"created_at":"2014-01-21T06:14:24.000Z","user_id":742340,"username":"verazhang100","avatar_url":"https://chinesepod-user-profiles.s3.amazonaws.com/profiles/742340/image.jpg"}]},{"id":224820,"content":"<p>I just tried for fun (ant to clarify stuffs in my mind:p) to summarize what unit people use for weight...(for veggies or themselves).</p>\r\n<p>Here is is what I come up with:</p>\r\n<p>China: people used mostly \"jin\" (jin1 斤) or \"gongjin\"(gong1jin1公斤)。。1斤=0,5kg=1,102lb=0,5公斤</p>\r\n<p>Hong Kong : it is mostly the \"catty\" which is used and although it is also pronounced jin1(斤） (gan1 in cantonese) it refers to the \"chinese pound\"...1catty=1斤(catty)=1,21斤＝~604.8 g＝~1.333lb</p>\r\n<p>Europe: people mostly uses kilogram... 1kg=2,205lb=1公斤＝2斤＝1,653斤(catty)</p>\r\n<p>Great Britain : I'm not sure which one is used..seems like kg (see Europe) is officially used but pound is commonly used as well (See US).</p>\r\n<p>USA : definetely pound 1lb=0,45kg=0,9072斤＝0,75斤(catty)</p>\r\n<p>to be completed (corrected?!?) by other poddies for the many forgotten countries :D...plus I would really like to have confirmation on what I wrote on HK/china and know what's up with Taiwan!</p>\r\n<p>I used that page to do the convertions http://www.convert-me.com/en/convert/weight</p>\r\n<p></p>","reply_to_id":0,"reply_to_id_2":0,"reply_to_user_id":0,"comment_from":0,"created_at":"2011-10-30T19:09:40.000Z","user_id":633263,"username":"longyun_13","avatar_url":"https://chinesepod-user-profiles.s3.amazonaws.com/profiles/633263/image.jpg"},{"id":214335,"content":"<p>对的，是挺高的\\(^o^)/</p>","reply_to_id":0,"reply_to_id_2":0,"reply_to_user_id":0,"comment_from":0,"created_at":"2011-05-22T18:04:26.000Z","user_id":647692,"username":"douniwan","avatar_url":""},{"id":214278,"content":"<p>我是一米九三，大概八十公斤。</p>\n<p>很多中国人一直告诉我&ldquo;哇好高&rdquo;</p>\n\n\n<p>我的汉字对不对？</p>\n<p>你可以帮助我吗？</p>","reply_to_id":0,"reply_to_id_2":0,"reply_to_user_id":0,"comment_from":0,"created_at":"2011-05-22T14:29:02.000Z","user_id":599182,"username":"kong_yi","avatar_url":"https://chinesepod-user-profiles.s3.amazonaws.com/profiles/599182/image.jpg","nestedComments":[{"id":214390,"content":"<p>你写的很好，都对！</p>","reply_to_id":214278,"reply_to_id_2":0,"reply_to_user_id":599182,"comment_from":0,"created_at":"2011-05-23T08:29:08.000Z","user_id":49869,"username":"connie","avatar_url":"https://chinesepod-user-profiles.s3.amazonaws.com/profiles/49869/image.jpg"},{"id":214985,"content":"<p>谢谢!</p>\r\n<p>现在我很高兴!</p>","reply_to_id":214278,"reply_to_id_2":214390,"reply_to_user_id":49869,"comment_from":0,"created_at":"2011-05-29T12:43:05.000Z","user_id":599182,"username":"kong_yi","avatar_url":"https://chinesepod-user-profiles.s3.amazonaws.com/profiles/599182/image.jpg"}]},{"id":214013,"content":"<p>Also to mention Im irish and we traditionally use stone and pounds to weight ourselves and feet and inches to measure height. ive never used any of the other systems!</p>\n\n","reply_to_id":0,"reply_to_id_2":0,"reply_to_user_id":0,"comment_from":0,"created_at":"2011-05-18T07:52:35.000Z","user_id":554312,"username":"stephenfox","avatar_url":"https://chinesepod-user-profiles.s3.amazonaws.com/profiles/554312/image.jpg"},{"id":214012,"content":"<p>Hi guys,</p>\n\n<p>Can somebody explain to me the word \"bie2\", ive seen it used now twice, here and in the \"push and pull\" pod to indicate \"dont\", can somebody give me some specific information on how and when to use?</p>\n\n<p>Thanks!</p>","reply_to_id":0,"reply_to_id_2":0,"reply_to_user_id":0,"comment_from":0,"created_at":"2011-05-18T07:49:43.000Z","user_id":554312,"username":"stephenfox","avatar_url":"https://chinesepod-user-profiles.s3.amazonaws.com/profiles/554312/image.jpg"},{"id":213997,"content":"<p>I repeatedly have trouble with the recording messing up if I try to back it up, not every time or even most times, but it seems to be&nbsp;an ongoing problem. Does anyone else have problems with the recording messing up if you back it up to hear something again?</p>","reply_to_id":0,"reply_to_id_2":0,"reply_to_user_id":0,"comment_from":0,"created_at":"2011-05-17T21:06:29.000Z","user_id":425097,"username":"ianperry","avatar_url":""},{"id":213662,"content":"<p>I did my homework. Here is the result:</p>\n<p><br />inch&nbsp;英吋 ying1cun4</p>\n<p>feet&nbsp;英尺 ying1chi3</p>\n<p>mile&nbsp;英里 ying1li3</p>\n<p>acre&nbsp;英畝 ying1mu3</p>\n<p>tonne&nbsp;英噸 ying1dun4</p>\n<p>pound&nbsp;英鎊 ying1bang4</p>\n<p>voila!</p>\n<p>Great lesson.</p>\n<p>Thanks.</p>\n<p>L.</p>","reply_to_id":0,"reply_to_id_2":0,"reply_to_user_id":0,"comment_from":0,"created_at":"2011-05-13T04:33:59.000Z","user_id":184892,"username":"lamartiniere","avatar_url":"https://chinesepod-user-profiles.s3.amazonaws.com/profiles/184892/image.jpg","nestedComments":[{"id":213699,"content":"<p>如果有不能看得懂繁体字的人, 就简体字是看一下这些简体字: </p>\r\n<p>acre 英亩, </p>\r\n<p>ton/tonne 英吨 (发音也是dun1)</p>\r\n<p>pound 英镑</p>\r\n<p>Byron</p>\r\n<p>句子有问题的话就给我指正.</p>","reply_to_id":213662,"reply_to_id_2":0,"reply_to_user_id":184892,"comment_from":0,"created_at":"2011-05-13T19:52:13.000Z","user_id":445827,"username":"byronmeinerth","avatar_url":"https://chinesepod-user-profiles.s3.amazonaws.com/profiles/445827/image.jpg"},{"id":213766,"content":"<p>Question for our Instructors: I understand the requirement for all the other length units to be preceded by 英 \"yīng\" for the imperial equivalent because these units chǐ, cùn etc. preexisted as traditional  Chinese units of length measurement But was there ever a traditional 镑 \"bàng?\" or is the word bàng itself a new loan word for \"pound\". If so, than yīngbàng 英镑 is actually redundant, isn't it (if there is no other kind of bang4) ?</p>","reply_to_id":213662,"reply_to_id_2":0,"reply_to_user_id":184892,"comment_from":0,"created_at":"2011-05-14T11:04:32.000Z","user_id":458947,"username":"sclim","avatar_url":""},{"id":213818,"content":"<p>Sharp analysis. 英镑 refers to Britain's currency. (Note the radical). 磅 with a 石 radical refers to the weight.  </p>","reply_to_id":213662,"reply_to_id_2":213766,"reply_to_user_id":458947,"comment_from":0,"created_at":"2011-05-14T19:55:24.000Z","user_id":45988,"username":"jennyzhu","avatar_url":"https://chinesepod-user-profiles.s3.amazonaws.com/profiles/45988/image.jpg"},{"id":213999,"content":"<p>I should have caught that when I was writing them in simplified characters. Yes, 英镑 means pound, but just not the one we use in the States. </p>","reply_to_id":213662,"reply_to_id_2":0,"reply_to_user_id":184892,"comment_from":0,"created_at":"2011-05-17T22:34:26.000Z","user_id":445827,"username":"byronmeinerth","avatar_url":"https://chinesepod-user-profiles.s3.amazonaws.com/profiles/445827/image.jpg"}]},{"id":213657,"content":"<p>Just a clarification: 1 pound = 0.454 kilograms, so 60 kg is 133 pounds (pretty light for a man, but 13 pounds more than 120).</p>\n<p>Can 1.78 meters&nbsp; be translated as yi dian qiba mi （一点七八米 ）?</p>\n<p>寸 cun4 inch<br />英尺 ying1 chi3 foot&nbsp; (literally, English foot)</p>\n<p>By the way, the pound / feet / inch metrics were inherited by America from England, so I would assume that Canada and Australia also use them.</p>","reply_to_id":0,"reply_to_id_2":0,"reply_to_user_id":0,"comment_from":0,"created_at":"2011-05-13T02:59:38.000Z","user_id":4954,"username":"tucsonmichael","avatar_url":"https://chinesepod-user-profiles.s3.amazonaws.com/profiles/4954/image.jpg","nestedComments":[{"id":213673,"content":"<p>一点七八米 is formal, we just say 一米七八。</p>","reply_to_id":213657,"reply_to_id_2":0,"reply_to_user_id":4954,"comment_from":0,"created_at":"2011-05-13T07:13:22.000Z","user_id":104201,"username":"lujiaojie","avatar_url":"https://chinesepod-user-profiles.s3.amazonaws.com/profiles/104201/image.jpg"},{"id":213698,"content":"<p>Your assumption is logical, but Canada and Australia smartened up at some point and realized the metric system is much easier and efficient. I had a conversation about weight with a Brit and an Aussie at one point (I'm American), and we were all struggling to convert from kilograms (or kilogrammes) to pounds to stone. </p>","reply_to_id":213657,"reply_to_id_2":0,"reply_to_user_id":4954,"comment_from":0,"created_at":"2011-05-13T19:33:15.000Z","user_id":445827,"username":"byronmeinerth","avatar_url":"https://chinesepod-user-profiles.s3.amazonaws.com/profiles/445827/image.jpg"},{"id":213765,"content":"<p>A further clarification: it seems you are correcting an implied erroneous conversion in the lesson that 60kg is 120 pounds? If this is your impression, actually \"jīn\" doesn't mean \"pound\", but was the old traditional chinese weight measure and is only approximately a pound and a bit; in modern times it has been rationalized to officially convert to 0.5Kg or 1.1 lb..</p>\r\n<p>I live in Canada, so I can tell you officially we metrified in 1977, but we old timers still, in our minds at least, cling to the old \"imperial\" units (inch, foot, yard, mile, pound, ton..) which are still shared with the US neighbours (hope you don't mind my spelling) to our south. There are a few catches though...the units of volume are different in absolute amount US vs Imperial. (US Gallon ~ 3.79 L; Imp Gallon ~ 4.55L). Canadian born people don't use \"stone\" as part of the weight vocabulary.</p>","reply_to_id":213657,"reply_to_id_2":0,"reply_to_user_id":4954,"comment_from":0,"created_at":"2011-05-14T10:50:12.000Z","user_id":458947,"username":"sclim","avatar_url":""},{"id":213890,"content":"<p>The Imperial volume thing is most important when ordering beer :-)! In the UK a pint is more than a half liter. In the US a pint is less than a half liter. British people are often disappointed when ordering a pint at a bar or pub in the US. From my experience (US citizen, worked in Canada for several years, travel on business in UK frequently) Canada is by far the most \"metrified\", then the UK, then US. Before I began visiting the UK heavily I had assumed that the British were quite metric, but its not the case - even the road signs show distances in miles. The US is also the only one of the 3 that still uses Fahrenheit for temperatures - a source of confusion when discussing weather in China.</p>","reply_to_id":213657,"reply_to_id_2":0,"reply_to_user_id":4954,"comment_from":0,"created_at":"2011-05-15T19:01:22.000Z","user_id":129048,"username":"martyzcp","avatar_url":"https://chinesepod-user-profiles.s3.amazonaws.com/profiles/129048/image.jpg"}]},{"id":213609,"content":"<p>好像很多事情的真话是可选。人问我一些难问题。比如你的工资多少钱一个月。如果我说的真话害怕他们气死了。我不习惯这个问题类型。</p>\n<p>it seems that for many questions the truth is optional..some people ask me some difficult questions..for example ..how much salary do you get each month...i dont want to make them angry..i am not used to this type of questions..</p>\n<p>are the sentences understandable</p>\n","reply_to_id":0,"reply_to_id_2":0,"reply_to_user_id":0,"comment_from":0,"created_at":"2011-05-12T07:59:42.000Z","user_id":13694,"username":"pauley","avatar_url":"https://chinesepod-user-profiles.s3.amazonaws.com/profiles/13694/image.jpg","nestedComments":[{"id":213626,"content":"<p>Good job on the Chinese sentences. The first sentence would be \"很多事情你可以不说真话”。 </p>","reply_to_id":213609,"reply_to_id_2":0,"reply_to_user_id":13694,"comment_from":0,"created_at":"2011-05-12T15:11:19.000Z","user_id":45988,"username":"jennyzhu","avatar_url":"https://chinesepod-user-profiles.s3.amazonaws.com/profiles/45988/image.jpg"},{"id":214015,"content":"<p>I don't know what's that mean? you mean you can't tell the people around truth?</p>","reply_to_id":213609,"reply_to_id_2":0,"reply_to_user_id":13694,"comment_from":0,"created_at":"2011-05-18T10:45:21.000Z","user_id":646510,"username":"snail2011","avatar_url":""}]}]}
                    // this.decks = [{"id":169153,"tag":"Asking Height and Weight 2","public":0,"user_id":1197231,"count":0,"forReview":0},{"id":169152,"tag":"Asking Height and Weight","public":0,"user_id":1197231,"count":0,"forReview":0},{"id":167572,"tag":"Uncategorized","public":0,"user_id":1197231,"count":25,"forReview":25}]

                    // console.log(this.questions);
                    let toggle_show_hide = document.querySelectorAll('.toggle-show-hide');

                    toggle_show_hide.forEach((toggle, i) => {
                        let isTranslationTextHidden = true;
                        toggle.onclick = () => {
                            let spanToHide = toggle.parentNode.querySelectorAll('span')[0];
                            let spanToShow = toggle.parentNode.querySelectorAll('span')[1];

                            if (isTranslationTextHidden) {
                                isTranslationTextHidden = false;

                                spanToShow.style.display = 'block';
                                spanToHide.style.display = 'none';

                                toggle.innerHTML = '<i class="bi bi-eye-fill"></i>';
                            } else {
                                isTranslationTextHidden = true;

                                spanToShow.style.display = 'none';
                                spanToHide.style.display = 'block';

                                toggle.innerHTML = '<i class="bi bi-eye-slash-fill"></i>';
                            }
                        }
                    });

                    // ## play audio in DIALOGUE tab
                    let play_audio = document.querySelectorAll('.play-audio');

                    play_audio.forEach((audio, i) => {
                        audio.onclick = () => {
                            let audio_player = audio.querySelector('audio');
                            // audio_player.play();
                            audio.classList.add('emit-audio');

                            audio_player.onended = () => {
                                audio.classList.remove('emit-audio');
                            }

                            let icon = audio.querySelector('i');
                            if (audio_player.duration > 0 && !audio_player.paused) {
                                audio_player.pause();
                                if (icon){
                                    icon.classList.add('bi-play-fill')
                                    icon.classList.remove('bi-pause-fill')
                                } 
                            } else {
                                if (icon){
                                    icon.classList.add('bi-pause-fill')
                                    icon.classList.remove('bi-play-fill')
                                } 
                                audio_player.play();
                            }
                        }
                    });

                    if (this.dialogue) {
                        for (let i=0; i < this.dialogue.dialogue.length; i++) {
                            let d = this.dialogue.dialogue[i]

                            let sentence=[];
                            
                            if(d.sentence)
                            for (let i=0; i < d.sentence.length; i++) {
                                let characters = d.sentence[i]

                                if (characters.s && characters.s.length > 1 && isNaN(characters.s)) {
                                    for(let ndx=0; ndx < characters.s.length; ndx++) {
                                        let hanziLookup = await this.getAPIFetch('/beta/api/v1/lookup-hanzi/'+characters.s[ndx])
                                        sentence.push({
                                            en:hanziLookup.definition,
                                            p:hanziLookup.pinyin,
                                            s:hanziLookup.simplified,
                                            t:hanziLookup.traditional,
                                        })
                                    }
                                   

                                } else {
                                    sentence.push(characters)
                                }
                            }

                            this.dialogue.dialogue[i].sentence = sentence
                        }
                    }

                    if (this.expansion) {
                        for (let ndxExp=0; ndxExp < this.expansion.length; ndxExp++) {
                            let e = this.expansion[ndxExp]

                            if(e.examples)
                            for (let ndxEx=0; ndxEx < e.examples.length; ndxEx++) {
                                let example = e.examples[ndxEx]
                                let expansionSentence=[];

                                for (let ndxs=0; ndxs < example.sentence.length; ndxs++) {
                                    let sentence = example.sentence[ndxs]

                                    if (sentence.s && sentence.s.length > 1 && isNaN(sentence.s)) {
                                        for(let ndx=0; ndx < sentence.s.length; ndx++) {
                                            let hanziLookup = await this.getAPIFetch('/beta/api/v1/lookup-hanzi/'+sentence.s[ndx])
                                            expansionSentence.push({
                                                en:hanziLookup.definition,
                                                p:hanziLookup.pinyin,
                                                s:hanziLookup.simplified,
                                                t:hanziLookup.traditional,
                                            })
                                        }
                                    

                                    } else {
                                        expansionSentence.push(sentence)
                                    }
                                }

                                this.expansion[ndxExp].examples[ndxEx].sentence = expansionSentence
                            }

                        }
                    }

                    if (this.grammar) {
                        for (let gNdx=0; gNdx < this.grammar.length; gNdx++) {
                            let e = this.grammar[gNdx]

                            if(e.examples)
                            for (let eNdx=0; eNdx < e.examples.length; eNdx++) {
                                let example = e.examples[eNdx]
                                let grammarSentence=[];

                                for (let sNdx=0; sNdx < example.sentence.length; sNdx++) {
                                    let sentence = example.sentence[sNdx]

                                    if (sentence.s && sentence.s.length > 1 && isNaN(sentence.s)) {
                                        for(let ndx=0; ndx < sentence.s.length; ndx++) {
                                            let hanziLookup = await this.getAPIFetch('/beta/api/v1/lookup-hanzi/'+sentence.s[ndx])
                                            grammarSentence.push({
                                                en:hanziLookup.definition,
                                                p:hanziLookup.pinyin,
                                                s:hanziLookup.simplified,
                                                t:hanziLookup.traditional,
                                            })
                                        }
                                    

                                    } else {
                                        grammarSentence.push(sentence)
                                    }
                                // })
                                }

                                this.grammar[gNdx].examples[eNdx].sentence = grammarSentence
                            }

                            
                        }
                    }

                } else {
                    console.log("lesson not found");
                }
            },

            

        

            mountVideo: async function() {
            // if (this.lessonData && this.lessonData.sources) {
                this.isActive = 'video';

                const video = document.querySelector('#videoplyr-s3');
                this.hlsNativeSupport =
                video && video.canPlayType('application/vnd.apple.mpegURL');

                console.log(this.lesson);

                if (this.lesson.sources.hls && this.hlsSupport) {
                    const source = this.lesson.sources.hls['simplified'];
                    // const source = "https://d2arcxjkuir81y.cloudfront.net/4279.upperintermediate.workplaceculture.%E4%B8%AD%E5%9B%BD%E7%9A%84%E8%81%8C%E5%9C%BA%E6%96%87%E5%8C%96.expatsinchina.simp.m3u8";

                    const defaultOptions = {};

                    const hls = new Hls();
                    hls.loadSource(source);

                    hls.on(Hls.Events.MANIFEST_PARSED, (event, data) => {
                        // Transform available levels into an array of integers (height values).
                        const availableQualities = hls.levels.map(l => l.height);

                        // Add new qualities to option
                        defaultOptions.quality = {
                        default: availableQualities[3],
                        options: [...availableQualities],
                        // this ensures Plyr to use Hls to update quality level
                        forced: true,
                        onChange: e => updateQuality(e)
                        };

                        this.videoplyr = new Plyr('#videoplyr-s3', defaultOptions);

                        this.videoplyr.on('ready', () => {
                        this.hidePlayer = false;
                        this.floatingTogglePlayback();
                        });
                        this.videoplyr.on('timeupdate', event => {
                        if (window.hls.currentLevel > -1) {
                            this.videoplyr.quality =
                            availableQualities[window.hls.currentLevel];
                        }
                        this.onTimeupdate(event);
                        });
                        this.videoplyr.on('seeking', this.onSeeking);
                        this.videoplyr.on('seeked', this.onSeeked);
                        this.videoplyr.on('playing', this.onPlaying);
                        this.videoplyr.on('pause', this.onPause);
                        this.videoplyr.on('ended', this.handleFinished);
                        // this.videoplyr.on('stalled', console.log);
                        // this.videoplyr.on('canplay', console.log);
                        this.videoplyr.on('waiting', event => {
                        const startBuffer = this.videoplyr.buffered;
                        setTimeout(() => {
                            console.log('Player Buffering');
                            console.log({
                            startBuffer,
                            currentBuffer: this.videoplyr.buffered
                            });
                            if (startBuffer === this.videoplyr.buffered) {
                            setAutomaticQuality();
                            }
                        }, 20000);
                        });
                    });
                    hls.attachMedia(video);
                    window.hls = hls;

                    const updateQuality = newQuality => {
                        window.hls.levels.forEach((level, levelIndex) => {
                        if (level.height === newQuality) {
                            if (window.hls.currentLevel !== levelIndex) {
                            console.log('Found quality match with ' + newQuality);
                            window.hls.currentLevel = levelIndex;
                            }
                        }
                        });
                    };

                    function setAutomaticQuality() {
                        console.log('Current level: ' + window.hls.currentLevel);
                        window.hls.currentLevel = -1;
                        console.log('New level: ' + window.hls.currentLevel);
                    }

                    this.$gtag.event('select_content', {
                        event_category: 'engagement',
                        event_label: 's3-player'
                    }); 
                } else if (this.lesson.sources.hls && this.hlsNativeSupport) {
                    this.videoplyr = new Plyr('#videoplyr-s3');
                    this.videoplyr.on('ready', () => {
                        this.hidePlayer = false;
                        this.floatingTogglePlayback();
                    });
                    this.videoplyr.on('timeupdate', this.onTimeupdate);
                    this.videoplyr.on('seeking', this.onSeeking);
                    this.videoplyr.on('seeked', this.onSeeked);
                    this.videoplyr.on('playing', this.onPlaying);
                    this.videoplyr.on('pause', this.onPause);
                    this.videoplyr.on('ended', this.handleFinished);

                    this.$gtag.event('select_content', {
                        event_category: 'engagement',
                        event_label: 's3-player-native'
                    });
                // } else if (this.lessonData.sources.wistia) {
                // if (!window._wq) {
                //     let wistiaScript = document.createElement('script');
                //     wistiaScript.setAttribute(
                //     'src',
                //     'https://fast.wistia.net/assets/external/E-v1.js'
                //     );
                //     document.head.appendChild(wistiaScript);
                // }
                // window._wq = window._wq || [];
                // _wq.push({
                //     id: this.videoSource(this.lessonData.sources.wistia),
                //     onReady: video => {
                //     this.videoPlayer = video;
                //     video.bind('timechange', async t => {
                //         let current = Math.floor(((t / video.duration()) * 100) / 5) * 5;
                //         this.floatingProgress = Math.round((t / video.duration()) * 100);
                //         await this.logProgress(current);
                //     });
                //     video.bind('play', () => {
                //         if (this.hasFinished) {
                //         this.hasFinished = false;
                //         }
                //         this.isPlaying = true;
                //     });
                //     video.bind('pause', () => {
                //         this.isPlaying = false;
                //     });
                //     video.bind('end', () => {
                //         this.hasFinished = true;
                //     });
                //     }
                // });
                // this.$gtag.event('select_content', {
                //     event_category: 'engagement',
                //     event_label: 'wistia'
                // });
                // } else {
                // this.videoplyr = new Plyr('#videoplyr-free');
                // this.videoplyr.on('ready', this.floatingTogglePlayback);
                // this.videoplyr.on('timeupdate', this.onTimeupdate);
                // this.videoplyr.on('seeking', this.onSeeking);
                // this.videoplyr.on('seeked', this.onSeeked);
                // this.videoplyr.on('playing', this.onPlaying);
                // this.videoplyr.on('pause', this.onPause);
                // this.videoplyr.on('ended', this.handleFinished);
                // this.$gtag.event('select_content', {
                //     event_category: 'engagement',
                //     event_label: 'free-player'
                // });
                }

                this.$gtag.event('select_content', {
                event_category: 'engagement',
                event_label: 'video'
                });
            // }

                this.player.on('timeupdate', this.onTimeupdate);
                this.player.on('seeking', this.onSeeking);
                this.player.on('seeked', this.onSeeked);
                this.player.on('playing', this.onPlaying);
                this.player.on('pause', this.onPause);
            }

        },


    })

    lessonDashboardApp.fetchLessons
    // lessonDashboardApp.mountVideo

    function printStrokePoints(data) {
        var pointStrs = data.drawnPath.points.map((point) => `{x: ${point.x}, y: ${point.y}}`);
        console.log(`[${pointStrs.join(', ')}]`);
    }


	$( function() {
		$( ".rearrange-list" ).sortable({
			revert: true
        });
        
        $( "#navbar-search-main .input-group-append" ).mouseenter(function(){
            $("#searchToolTip").show()
        })

        $( "#navbar-search-main .input-group-append" ).mouseleave(function(){
            $("#searchToolTip").hide()
        })
	} );
	

</script>