<script src="https://cdn.bootcss.com/vue/2.2.6/vue.js"></script>
<script src="/beta/javascripts/pinyin-convert.js" ></script>

<script>

    var lessonDashboardApp = new Vue({
        el: "#lessonDashboardApp",
        data: {
            vuex: JSON.parse(window.localStorage.getItem('vuex')),
            searchString: "",
            searchType: [],
            lessons: {},
            page: 1,
            offset: 0

        },
        methods: {

            getAPIFetch: async function(api) {

                let results = await fetch(api,{
                    credentials: 'same-origin',
                    headers: {
                        'Accept': 'application/json, text/plain, */*',
                        'Content-Type': 'application/json',
                        'Authorization': 'Bearer '+ (this.vuex ? this.vuex.token : '')
                    },
                })
                .then(resp => resp.json())
                .then(res => {
                    // console.log("this res", res);
                    return res;
                })

                return results;

            },

            postAPIFetch: async function(api, params) {

                let options = {
                    credentials: 'same-origin',
                    headers: {
                        'Accept': 'application/json, text/plain, */*',
                        'Content-Type': 'application/json',
                        'Authorization': 'Bearer '+ (this.vuex ? this.vuex.token : '')
                    },
                    method: "POST",
                    body: JSON.stringify(params)
                }

                let okOption = false

                let results = await fetch(api,options)

                    .then(res => {
                        return res.statusText;
                    })


                if (okOption) {
                    return {status:"ok"}
                } else {
                    return results;
                }

            },

            searchQuery: function(){

                let queryString = ""
                let queryStringType = ""

                if (this.searchString) 
                queryString = "search="+this.searchString
                
                queryStringType = this.searchType.join("&")

                if (queryStringType) 
                queryString += "&" + queryStringType
                
                if(queryString)
                window.location.href = "/explore?"+queryString
                
            },

            studyCompleted: async function(ndx) {

                this.lessons.lessons[ndx].studied = this.lessons.lessons[ndx].studied ? 0 : 1;
                let params = {
                    lessonId: this.lessons.lessons[ndx].id,
                    status: this.lessons.lessons[ndx].studied
                }

                // this.lesson.studied = this.lesson.studied > 0 ? 0 : 1;

                let toogleSave = await this.postAPIFetch("/api/v1/dashboard/toggle-studied", params)

                this.showMessage('Settings Saved!', 'success')
            },

            saveLesson: async function(ndx) {

                this.lessons.lessons[ndx].saved = this.lessons.lessons[ndx].saved ? 0 : 1;
                let params = {
                    lessonId: this.lessons.lessons[ndx].id,
                    status: this.lessons.lessons[ndx].saved
                }

                // this.lesson.saved = !this.lesson.saved

                let toogleSave = await this.postAPIFetch("/api/v1/dashboard/toggle-saved", params)

                this.showMessage('Lesson Saved!', 'success')
            },

            loadMore: async function() {

                this.offset = this.page * 16
                this.page++

                let tempLessons = await this.getAPIFetch('/api/v1/dashboard/get-all-lessons?limit=16&skip='+this.offset);

                if (tempLessons && tempLessons.lessons){
                    this.lessons.lessons.push(...tempLessons.lessons)
                }
            },


            showMessage: function(message, action) {
                console.log("show message", message, action);
                document.getElementById("messageContainer").innerHTML = `<div class="text-center alert alert-${action}" role="alert">
                                            ${message}
                                        </div>`
                

                setTimeout(function(){
                    document.getElementById("messageContainer").innerHTML = ""
                },3000);
            },

            pinyinConvert: function(pinyin) {
                return PinyinConverter.convert(pinyin);
            },

            playAudio : function (id) {
                let play_audio = document.getElementById(id);
                play_audio.play();
            },

            copyClipboard: function(copyData) {
                navigator.clipboard.writeText(copyData);

                this.showMessage("Copied to clipboard!", "success")
            },


            
        },
        computed: {
            fetchLessons: async function(){
                this.lessons = await this.getAPIFetch('/api/v1/vocabulary/words?limit=16&skip=0');
                // this.lessons = {
                //                 "total":50,
                //                 "vocabulary":[
                //                     {
                //                         "id":15306949,
                //                         "vocabulary_class":"Key Vocabulary",
                //                         "s":"高高",
                //                         "p":"gāo","en":"tall","t":"高高","audio":"mp3/glossary/source/chinesepod_4360_vocabulary_53919_prototype_21127_24910.mp3","display_order":9,"image":"","progress":0,"next_test_date":"2022-05-23T06:05:12.000Z","last_test_date":"2022-05-23T06:05:12.000Z","times_tested":0,"number_correct":0,"char_learned":0,"user_vocabulary_id":19308931,"createdAt":"2022-05-23T08:07:40.000Z","lesson":{"title":"Getting Taller (Not Fatter)","hash_code":"0346f22bfb053ac6a8580bb1b9e78dd96cb18e47","slug":"getting-taller-not-fatter","level":"Pre Intermediate","type":"lesson","id":"1327"},"tags":[],"audioUrlCN":"https://s3contents.chinesepod.com/1327/0346f22bfb053ac6a8580bb1b9e78dd96cb18e47/mp3/glossary/source/chinesepod_4360_vocabulary_53919_prototype_21127_24910.mp3"},
                                    
                // ]}
                // console.log(this.lessons);
            }

            

        }

    });

    lessonDashboardApp.fetchLessons

    function printStrokePoints(data) {
        var pointStrs = data.drawnPath.points.map((point) => `{x: ${point.x}, y: ${point.y}}`);
        console.log(`[${pointStrs.join(', ')}]`);
    }

    window.onload = function () {

        if (lessonDashboardApp.lessons && lessonDashboardApp.lessons.vocabulary) 
        lessonDashboardApp.lessons.vocabulary.forEach((vocab, i) => {
            let hanziCount = vocab.t.length
            
            for (let x=0; x < hanziCount; x++) {
                console.log("generate hanzi =======");
                let elT = document.getElementById('target-t-'+x+'-'+vocab.id)
                let elS = document.getElementById('target-t-'+x+'-'+vocab.id)
                


                let writert = HanziWriter.create('target-t-'+x+'-'+vocab.id, vocab.t[x], {
                    width: 100,
                    height: 100,
                    renderer: 'svg',
                    radicalColor: '#166E16',
                    onCorrectStroke: printStrokePoints,
                    onMistake: printStrokePoints,
                    showCharacter: false,
                });

                let writers = HanziWriter.create('target-s-'+x+'-'+vocab.id, vocab.s[x], {
                    width: 100,
                    height: 100,
                    renderer: 'svg',
                    radicalColor: '#166E16',
                    onCorrectStroke: printStrokePoints,
                    onMistake: printStrokePoints,
                    showCharacter: false,
                });

                document.querySelector('.js-animate-t-'+x+'-'+vocab.id).addEventListener('click', function () {
                    writert.animateCharacter();
                });

                document.querySelector('.js-animate-s-'+x+'-'+vocab.id).addEventListener('click', function () {
                    writers.animateCharacter();
                });
                
            }

        })



    };


</script>