<div id="topicsDashboardApp">
<section class="cprecap-banner">
	<div class="jumbotron jumbotron-fluid">
		<div class="row justify-content-center">
			<div class="cprecap-banner-body col-9">
				<h1><span>Welcome to the BETA Program of the ChinesePod Express App -</span><br>
					Help us build the BEST APP to learn Mandarin Chinese. Become a Beta Tester!</h1>
				<p class="button-comb">
					<!-- <a class="btn btn-danger cprecap-btn-try rounded-pill pt-3 pb-3 pl-5 pr-5 mb-3" href="https://play.google.com/store/apps/details?id=com.chinesepod.express">Mobile APP</a>&nbsp;
					<a class="btn btn-danger cprecap-btn-try rounded-pill pt-3 pb-3 pl-5 pr-5 mb-3" href="https://play.google.com/apps/testing/com.chinesepod.express">Web APP</a><br> -->
					<a class="btn btn-danger cprecap-btn-try rounded-pill pt-3 pb-3 pl-5 pr-5 mb-3" href="/beta/download">Enroll to Beta Program</a><br>
					<strong>TRY OUT</strong> Our Beta APP</p>

					
			</div>
			<div class="cprecap-banner-body col-3">
				<h1></h1>
				<div class="cprecap-video-frame embed-responsive embed-responsive-16by9">
					<iframe width="487" height="273" class="embed-responsive-item" src="https://www.youtube.com/embed/FjbaWJMXBgU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="cprecap-info" id="about">
	<div class="container-xl">
		<div class="row pl-3 pr-3">
			<div class="col-lg-6 text-center">
				<img src="/beta/images/app-in-devices.png" alt="" class="img-fluid">
			</div>
			<div class="col-lg-6 text-center mb-5">
			  <h3 class="mb-3">ChinesePod Beta APP<br>
				  <small>offers access to short review segments based on full-length ChinesePod lessons.</small></h3>
				<p>These are aimed explicitly at solidifying previously studied material and extend long-term retention.</p>
			</div>
		</div>
	</div>
</section>


<section class="mt-5 mb-5" id="forum">
    <div class="container" style="min-height:65vh">
        <div class="row justify-content-center box-bg-container">

			<div class="col-12 text-center mb-5">
				<h3>This is the ChinesePod Express App beta Test Forum, a space to become a tester and share your experiences, suggestions, and be part of a growing community.</h3>
			</div>

			<% topics.forEach(function(topic,key) {  %>
				<div class="col-md-3 topic-block">
					<h4 class=""><%= topic.name %></h4>
					<img class="img-responsive" src="/beta/images/<%= topic.name.replace(' ','-').toLowerCase() %>.png">
					
					<% if(topic.sub && topic.sub.length > 0) { %>
						<ul>
							<% for(let cnt=0; cnt < topic.sub.length; cnt++) {  %>
								<li class="topic"><a href="/beta/forums/<%= topic.sub[cnt]._id %>"><%= topic.sub[cnt].name %></a></li>
							<% } %>
						</ul>
					<% } %>
				</div>
			<% }) %>

			<div class="col-12 text-center mb-5 mt-5" style="font-size: 22px;">
				<a class="btn btn-danger cprecap-btn-try rounded-pill pt-3 pb-3 pl-5 pr-5 mb-3" href="/beta/forums">Visit ChinesePod Beta Program Room</a>&nbsp;
			</div>

			
		
		</div>

    </div>
</section>

</div>

