<!DOCTYPE html>
<html>
<head>
    <title>Start Learning Chinese Today with ChinesePod!</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <!-- Google Tag Manager -->
        <script>(function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
              'gtm.start':
                new Date().getTime(), event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
              j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
              'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
          })(window, document, 'script', 'dataLayer', 'GTM-TK3RQCH');</script>
        <!-- End Google Tag Manager -->
    
    <!--STYLES-->
    <link rel="stylesheet" href="/min/production.min.css">
    <!--STYLES END-->
</head>
<body>

    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TK3RQCH"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

<di   v id="page-wrap">
    <header id="page-header"
            class="navbar navbar-expand-sm navbar-light bg-light flex-column flex-md-row justify-content-between">
        <a class="navbar-brand mr-0" href="/"><img class="logo" alt="ChinesePod Logo" src="/images/brand/brand.svg"
                                                   width="160px"/></a>
        <div class="navbar-nav flex-row">
            <a class="nav-item nav-link ml-2 ml-md-0 mr-2 mr-md-0" href="/contact">Help</a>
            <!-- LOGGED-IN NAVIGATION -->
            
                <!-- LOGGED-OUT NAVIGATION -->
                <a class="nav-item nav-link ml-2 ml-md-0 mr-2 mr-md-0" href="/corporate"><span
                            class="d-none d-md-inline">For </span>Companies</a>
                <a class="nav-item nav-link ml-2 ml-md-0 mr-2 mr-md-0" href="/academic-offers"><span
                            class="d-none d-md-inline">For </span>Schools</a>
                <a class="nav-item nav-link ml-2 ml-md-0 mr-2" href="/login">Log in</a>
                <div class="form-inline ml-2">
                    <!--          <a class="btn btn-outline-success" href="/pricing">Pricing</a>-->
                    <a class="btn btn-outline-success" href="/signup">Sign Up</a>
                </div>
            
        </div>
    </header>

    <!-- Alert if email has not been confirmed -->
    

  <section class="section content">
    <div class="about-item about-item_1">
      <div class="about-item__bg">
      </div>
      <div class="about-item__text">
        <h3 class="title about-item__title">Real Language</h3>
        <div class="about-item__desc">
          Deep rich conversations with different perspectives and personalities, delving into the core meanings of Chinese phrases.
        </div>
        <div class="about-item__cit"></div>
      </div>
    </div>
    <div class="about-item about-item_right about-item_2 ">
      <div class="about-item__text">
        <h3 class="title about-item__title">Self Contained Lessons</h3>
        <div class="about-item__desc">
          Sort lessons by topic and skill level. Explore over 4,000 immersive video and audio lessons that teach phrases that real Chinese speakers use.
        </div>
        <div class="about-item__cit"></div>
      </div>
      <div class="about-item__bg">
      </div>
    </div>

    <section class="section props section_props_animation">
      <div class="container">
        <ul class="props__list">
          <li class="props__item props__item-1">
            <div class="props__img">
              <img src="/images/academic-learning/ChinesePod_Tools-04.svg" class="props__svg" alt="">
            </div>
            <h3 class="props__title">Exercises</h3>
            <ul class="props__tools-list">
              <li class="props__tools-item">Lesson exercises</li>
              <li class="props__tools-item">Placement test</li>
              <li class="props__tools-item">Personal scoring</li>
              <li class="props__tools-item">Progress tracker</li>
            </ul>
          </li>
          <li class="props__item props__item-2">
            <div class="props__img">
              <img src="/images/academic-learning/ChinesePod_Tools-02.svg" class="props__svg" alt="">
            </div>
            <h3 class="props__title">Vocabulary</h3>
            <ul class="props__tools-list">
              <li class="props__tools-item">Context sentences</li>
              <li class="props__tools-item">Vocabulary decks</li>
              <li class="props__tools-item">In-depth grammar</li>
              <li class="props__tools-item">Extra dialogues</li>
            </ul>
          </li>
          <li class="props__item props__item-3">
            <div class="props__img">
              <img src="/images/academic-learning/ChinesePod_Tools-03.svg" class="props__svg" alt="">
            </div>
            <h3 class="props__title">Pronunciation</h3>
            <ul class="props__tools-list">
              <li class="props__tools-item">Best learning approach</li>
              <li class="props__tools-item">Wide range of difficulty levels</li>
              <li class="props__tools-item">Perfecting your pronunciation</li>
              <li class="props__tools-item">In-depth Pinyin section</li>
            </ul>
          </li>
        </ul>
      </div>
    </section>

    <div class="about-item about-item_3">
      <div class="about-item__bg">
      </div>
      <div class="about-item__text">
        <h3 class="title about-item__title">Charismatic Teachers</h3>
        <div class="about-item__desc">
          Download and learn on the go, or anywhere you want,
          &nbsp;from an array of our captivating teachers and their fun discussions around real world topics and vocabulary sets.
        </div>
        <div class="about-item__cit"></div>
      </div>
    </div>

    <section class="form-section form-section__middle">
      <div class="container">
        <div class="form-section__contant">
          <div class="form-block col-12 col-md-8 col-lg-6">
            <div class="form-block__header">
              <h3 class="form-block__title">Sign Up Today!</h3>
            </div>
            <div class="form-block__content">
              <div  v-if="cloudSuccess" id="form-top-msg"><div class="alert alert-success" role="alert">
                  Great! We've just sent you an account confirmation email. Please check your inbox.
                </div>
              </div>
              <ajax-form v-if="!cloudSuccess" name="form-medium" id="form-medium" action="signup" :syncing.sync="syncing" :cloud-error.sync="cloudError" @submitted="submittedForm()" :handle-parsing="handleParsingForm">
                <div class="form-block__row">
                  <div class="form-block__col">
                    <label class="form-block__label">Email Address</label>
                    <input type="email" name="email" placeholder="email@example.com" :class="[formErrors.emailAddress ? 'is-invalid' : '']" v-model.trim="formData.emailAddress" class="form-control form-block__input" autocomplete="email">
                    <div class="invalid-feedback" v-if="formErrors.emailAddress">Please enter a valid email address.</div>
                  </div>
                </div>
                <div class="form-block__row">
                  <div class="form-block__col">
                    <label class="form-block__checkbox">
                      <input type="checkbox" name="overlay_email" v-model="formData.optIn" checked>
                      <div class="form-block__checkbox-block"></div>
                      <span class="form-block__checkbox-label">I want to hear the latest news from ChinesePod.</span>
                    </label>
                    <p class="text-danger" v-if="cloudError==='emailAlreadyInUse'"><small>It looks like there's already an account with your email address. If you forgot your password, you can recover it <strong><a href="/password/forgot">here</a></strong>.</small></p>
                    <p class="text-danger" v-else-if="cloudError"><small>An error occurred while processing your request. Please check your information and try again, or <strong><a href="/support">contact support</a></strong> if the error persists.</small></p>

                  </div>
                </div>
                <div class="form-block__row">
                  <div class="form-block__col">
                    <ajax-button type="submit" id="btn-form-top-submit" :syncing="syncing" class="form-block__button">Get Started</ajax-button>
                  </div>
                </div>
                <div class="form-block__row">
                  <div class="form-block__col">
                    <p><small class="text-muted">By signing up, you agree to the <a href="/privacy/" target="_blank">Privacy Policy</a> and <a href="/terms/" target="_blank">Terms of Service</a> of ChinesePod LLC.</small></p>
                  </div>
                </div>
              </ajax-form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="about-item about-item_right about-item_4 ">
      <div class="about-item__text">
        <h3 class="title about-item__title">At Your Own Pace</h3>
        <div class="about-item__desc">
          Our lessons are designed to be studied in any order you’d like.
          &nbsp;With so many topics to choose from you can focus on what you really want to learn.
        </div>
        <div class="about-item__cit"></div>
      </div>
      <div class="about-item__bg">
      </div>
    </div>
    <div class="container d-none">
      <div class="content__resorces">
        <div id="resourcesCarousel" data-ride="carousel" class="resorces carousel slide">
          <div class="resorces__list carousel-inner">
            <div class="carousel-item resorces__item row active">
              <div class="resorces__photo col-12 col-sm-6">
                <img src="https://img.youtube.com/vi/u8UBzEs6PuY/maxresdefault.jpg" class="w-100"/>
              </div>
              <div class="resorces__desc col-12 col-sm-6">
                <p>Once you are finished with the video lesson, there is so much extra content waiting on our lesson's
                  page, including vocabulary, sentence reviews, and expansions, where we give further examples of the
                  lesson's grammatical structure and vocabulary in different context.</p>
              </div>
            </div>
            <div class="carousel-item resorces__item row">
              <div class="resorces__photo col-12 col-sm-6">
                <img src="https://img.youtube.com/vi/YRHg6AEJ7yM/maxresdefault.jpg" class="w-100" />
              </div>
              <div class="resorces__desc col-12 col-sm-6">
                <p>Once you are finished with the video lesson, there is so much extra content waiting on our lesson's
                  page, including vocabulary, sentence reviews, and expansions, where we give further examples of the
                  lesson's grammatical structure and vocabulary in different context.</p>
              </div>
            </div>
            <div class="carousel-item resorces__item row">
              <div class="resorces__photo col-12 col-sm-6">
                <img src="https://img.youtube.com/vi/FodIiHrkUjU/maxresdefault.jpg" class="w-100"/>
              </div>
              <div class="resorces__desc col-12 col-sm-6">
                <p>Once you are finished with the video lesson, there is so much extra content waiting on our lesson's
                  page, including vocabulary, sentence reviews, and expansions, where we give further examples of the
                  lesson's grammatical structure and vocabulary in different context.</p>
              </div>
            </div>
          </div>
          <ul class="resorces__controls carousel-indicators controls">
            <li data-target="#resourcesCarousel" data-slide-to="0" class="controls__item controls_resource__item active"></li>
            <li data-target="#resourcesCarousel" data-slide-to="1" class="controls__item controls_resource__item"></li>
            <li data-target="#resourcesCarousel" data-slide-to="2" class="controls__item controls_resource__item"></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="about-item about-item_5">
      <div class="about-item__bg">
      </div>
      <div class="about-item__text">
        <h3 class="title about-item__title">Further Study</h3>
        <div class="about-item__desc">
          Once you finish a video lesson there are plenty of grammar and vocabulary examples to take your learning to the next level.
        </div>
        <div class="about-item__cit"></div>
      </div>
    </div>

    <section class="section reviews section_reviews" data-ride="carousel">
      <div id="reviewsCarousel" class="container carousel slide">
        <div class="reviews__list carousel-inner">
          <div class="carousel-item reviews__item active">
            <div class="reviews__img-container">
              <img src="/images/academic-learning/home_pic_3.png" alt="" class="reviews__img">
            </div>
            <div class="reviews__text">
              "ChinesePod has such a vast scope of topics and diversity in levels, which makes it extremely convenient
              to progress, never-mind the entertaining hosts, great top-down approach and super useful additional
              content!"
              <br><small><strong>Niel de la Rouviere</strong> | Language blogger and web developer at Buffer</small>
            </div>
          </div>
          <div class="carousel-item reviews__item">
            <div class="reviews__img-container">
              <img src="/images/academic-learning/home_pic_31.png" alt="" class="reviews__img">
            </div>
            <div class="reviews__text">
              "When I was learning Mandarin, ChinesePod was my favourite resource by far. It was essential in getting
              me up to basic conversational level in just a few months. I recommend it to everyone learning Chinese!"
              <br><small><strong>Benny Lewis</strong> | "The Irish Polyglot"</small>
            </div>
          </div>
          <div class="carousel-item reviews__item">
            <div class="reviews__img-container">
              <img src="/images/academic-learning/home_pic_33.png" alt="" class="reviews__img">
            </div>
            <div class="reviews__text">
              "ChinesePod is an incredible resource for mastering spoken Chinese - a vast library of entertaining
              lessons from a great collection of teachers, all short and friendly enough
              to squeeze into a busy schedule."
              <br><small><strong>Mike Love</strong> | Creator of Pleco</small>
            </div>
          </div>
        </div>
        <ul class="reviews__controls carousel-indicators controls controls_red">
          <li data-target="#reviewsCarousel" data-slide-to="0" class="controls__item controls_reviews__item active"></li>
          <li data-target="#reviewsCarousel" data-slide-to="1" class="controls__item controls_reviews__item"></li>
          <li data-target="#reviewsCarousel" data-slide-to="2" class="controls__item controls_reviews__item"></li>
        </ul>
      </div>
    </section>

    <div class="about-item about-item_right about-item_6">
      <div class="about-item__text">
        <h3 class="title about-item__title">Natural Learning</h3>
        <div class="about-item__desc">
          We believe that our dynamic conversations give you the opportunity to naturally acquire the language.
        </div>
        <div class="about-item__cit"></div>
      </div>
      <div class="about-item__bg">
      </div>
    </div>
    <div class="about-item about-item_7 ">
      <div class="about-item__bg">
      </div>
      <div class="about-item__text">
        <h3 class="title about-item__title">Native Pronunciation</h3>
        <div class="about-item__desc">
          Tones are important, and lessons in our Say It Right (S.I.R.) series focus on just that.
          &nbsp;Master one of the most daunting aspects of the language with 22 lessons dedicated to pinyin tones,
          &nbsp;tricky combinations, and difficult sounds.
        </div>
        <div class="about-item__cit"></div>
      </div>
    </div>
  </section>
  <section class="section section__mac">
    <div id="sectionResourcesCarousel" data-ride="carousel" class="carousel section__resources">
      <div class="container section__resources__container">
        <div class="section__resources__text">
          <div class="resources_slider_text_list">
            <div class="carousel-item resources_slider_text_item active">
              <h2 class="section__resources__title">Dialogue</h2>
              <p>The Dialogue section provides an interactive transcript of the lesson. The Chinese characters are
                provided along with the English translation and pinyin to ease with pronunciation. It’s better to
                learn the target language in context but we provide a function to study each word separately too.
                Scrutinize each Chinese character by mousing over it to see the literal translation. You also have the
                option of toggling between Simplified and Traditional characters.</p>
            </div>
            <div class="carousel-item resources_slider_text_item">
              <h2 class="section__resources__title">Vocabulary</h2>
              <p>Rote memorization is boring and not the most effective method, but we suggest using the supplementary
                vocabulary lists in conjunction with the audio or video to accelerate your rate of achieving language
                competency.</p>
            </div>
            <div class="carousel-item resources_slider_text_item">
              <h2 class="section__resources__title">Expansion</h2>
              <p>Our expansion gives you the opportunity to learn target vocabulary taught in the lesson in other
                meaningful situations.</p>
            </div>
            <div class="carousel-item resources_slider_text_item" id="greatest_carousel_item">
              <h2 class="section__resources__title">Exercises</h2>
              <p>Learn aurally then reinforce further with online worksheets and exercises. These include:</p>
              <ul>
                <li>Matching: Choose a word on the left side, then match it to the closest meaning on the right side</li>
                <li>Sentence Reordering: sentences are in the wrong order; move them into the correct order by
                  clicking and dragging</li>
                <li>Dictation: Listen to the audio and type out what you hear</li>
                <li>Multiple Choice</li>
              </ul>
            </div>
          </div>
        </div>
        <div id="imageResourcesCarousel" data-ride="carousel" class="carousel section__resources__slider">
          <div class="mac-slider carousel-inner">
            <div class="mac-slider__container">
              <img src="/images/academic-learning/Carousell_Vocabulary_950x860.png" alt="" class="mac-slider__img">
              <ul class="mac-slider__list">
                <li class="carousel-item mac-slider__item active"
                    style="background-image: url('https://s3contents.chinesepod.com/img/corporate/carousel/dictionary.png')"></li>
                <li class="carousel-item mac-slider__item"
                    style="background-image: url('https://s3contents.chinesepod.com/img/corporate/carousel/vocabulary.png')"></li>
                <li class="carousel-item mac-slider__item"
                    style="background-image: url('https://s3contents.chinesepod.com/img/corporate/carousel/expansion.png')"></li>
                <li class="carousel-item mac-slider__item"
                    style="background-image: url('https://s3contents.chinesepod.com/img/corporate/carousel/exercises.png')" id="greatest_carousel_mac_item"></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-indicators section__resources__controls controls controls_white">
        <li data-target="#sectionResourcesCarousel" data-target="#imageResourcesCarousel" data-slide-to="0" class="controls__item controls_mac__item active"></li>
        <li data-target="#sectionResourcesCarousel" data-target="#imageResourcesCarousel" data-slide-to="1" class="controls__item controls_mac__item "></li>
        <li data-target="#sectionResourcesCarousel" data-target="#imageResourcesCarousel" data-slide-to="2" class="controls__item controls_mac__item "></li>
        <li data-target="#sectionResourcesCarousel" data-target="#imageResourcesCarousel" data-slide-to="3" class="controls__item controls_mac__item " id="greatest_carousel_controls_item"></li>
      </div>
    </div>
  </section>
  <section class="form-section form-section_footer">
    <div class="container">
      <div class="form-section__contant">
        <div class="form-block col-12 col-md-8 col-lg-6">
          <div class="form-block__header">
            <h3 class="form-block__title">Sign Up Today!</h3>
          </div>
          <div class="form-block__content">
            <div  v-if="cloudSuccess" id="form-top-msg"><div class="alert alert-success" role="alert">
                Great! We've just sent you an account confirmation email. Please check your inbox.
              </div>
            </div>
            <ajax-form v-if="!cloudSuccess"  name="form-bottom" id="form-bottom" action="signup" :syncing.sync="syncing" :cloud-error.sync="cloudError" @submitted="submittedForm()" :handle-parsing="handleParsingForm">
              <div class="form-block__row">
                <div class="form-block__col">
                  <label class="form-block__label">Email Address</label>
                  <input type="email" name="email" placeholder="email@example.com" :class="[formErrors.emailAddress ? 'is-invalid' : '']" v-model.trim="formData.emailAddress" class="form-control form-block__input" autocomplete="email">
                  <div class="invalid-feedback" v-if="formErrors.emailAddress">Please enter a valid email address.</div>
                </div>
              </div>
              <div class="form-block__row">
                <div class="form-block__col">
                  <label class="form-block__checkbox">
                    <input type="checkbox" name="overlay_email" v-model="formData.optIn" checked>
                    <div class="form-block__checkbox-block"></div>
                    <span class="form-block__checkbox-label">I want to hear the latest news from ChinesePod.</span>
                  </label>
                  <p class="text-danger" v-if="cloudError==='emailAlreadyInUse'"><small>It looks like there's already an account with your email address. If you forgot your password, you can recover it <strong><a href="/password/forgot">here</a></strong>.</small></p>
                  <p class="text-danger" v-else-if="cloudError"><small>An error occurred while processing your request. Please check your information and try again, or <strong><a href="/support">contact support</a></strong> if the error persists.</small></p>

                </div>
              </div>
              <div class="form-block__row">
                <div class="form-block__col">
                  <ajax-button type="submit" id="btn-form-top-submit" :syncing="syncing" class="form-block__button">Get Started</ajax-button>
                </div>
              </div>
              <div class="form-block__row">
                <div class="form-block__col">
                  <p><small class="text-muted">By signing up, you agree to the <a href="/privacy/" target="_blank">Privacy Policy</a> and <a href="/terms/" target="_blank">Terms of Service</a> of ChinesePod LLC.</small></p>
                </div>
              </div>
            </ajax-form>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<script v-if="wistia" src="https://fast.wistia.com/embed/medias/jggideab2x.jsonp" async></script>
<script v-if="wistia" src="https://fast.wistia.com/assets/external/E-v1.js" async></script>
<script type="text/javascript"> (function (){  var unescape = function unescapeHtmlEntitiesDeepLite(r){if("function"!=typeof Array.isArray||"function"!=typeof Array.prototype.forEach||"function"!=typeof Array.prototype.map||"function"!=typeof Object.keys)throw Error("Unsupported browser: Missing support for `Array.isArray`, `Array.prototype.forEach`, `Array.prototype.map`, or `Object.keys`!  (Sails' built-in HTML-unescaping for exposed locals supports IE9 and up.)");return function t(r){if(null===r)return r;if(r===!0||r===!1)return r;if("number"==typeof r)return r;if("string"==typeof r){var e=/&(?:amp|lt|gt|quot|#39|#96);/g,o=RegExp(e.source);if(""===r)return r;if(o.test(r)){var n={"&amp;":"&","&lt;":"<","&gt;":">","&quot;":'"',"&#39;":"'","&#96;":"`"};return r=r.replace(e,function(r){return n[r]})}return r}return Array.isArray(r)?r=r.map(function(r){return t(r)}):(Object.keys(r).forEach(function(e){r[e]=t(r[e],e)}),r)}(r)}; window.SAILS_LOCALS = { _environment: unescape('production'),title: unescape('Start Learning Chinese Today with ChinesePod!'),video: unescape('&lt;div class=&quot;embed-responsive embed-responsive-16by9&quot; &gt;&lt;iframe id=&quot;cpod-vid&quot; width=&quot;100%&quot; height=&quot;315&quot; src=&quot;https://www.youtube.com/embed/NjCYc5p8a5c?rel=0&amp;amp;showinfo=0&quot; frameborder=&quot;0&quot; allow=&quot;autoplay; encrypted-media&quot; allowfullscreen=&quot;&quot;&gt;&lt;/iframe&gt;&lt;/div&gt;'),wistia: unescape(false), };  })(); </script>

</div>

</body>
</html>