.message-blocks{
    margin: 0;
    padding: 0;
    li {
        list-style: none;
        display: flex;

        border: 1px solid #ccc;
        margin-bottom: 10px;
        padding: 10px;
        border-radius: 4px;

        .message-data{
            margin-right: 30px;

            .message-data-name{
                display: block;
                font-weight: 400;
            }

            .message-data-time{
                font-size: 12px;
                font-style: italic;
            }

        }
    }

}


#drop-area {
    border: 2px dashed #ccc;
    // border-radius: 20px;
    // width: 480px;
    // margin: 50px auto;
    padding: 20px;
  }
  #drop-area.highlight {
    border-color: purple;
  }
  p {
    margin-top: 0;
  }

  #gallery {
    margin-top: 10px;
  }
  #gallery img {
    width: 150px;
    margin-bottom: 10px;
    margin-right: 10px;
    vertical-align: middle;
  }
  .button {
    display: inline-block;
    padding: 10px;
    background: #ccc;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  .button:hover {
    background: #ddd;
  }

  .message-attachments{
    width: 100px;
    display: flex;
    & > div{
      width: 200px;
      img{
        width: 100%;
      }
    }
    
  }
//   #fileElem {
//     visibility: hidden;
//   }