<section class="cprecap-info" id="about">
	<div class="container-xl" style="min-height:65vh">
		
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="/beta/admin-dashboard/">Dashboard</a></li>
				<li class="breadcrumb-item"><a href="/beta/admin-dashboard/testers">Testers</a></li>
				<li class="breadcrumb-item active" aria-current="page">Edit</li>
			</ol>
		</nav>

        <div class="row justify-content-center box-bg-container">

			<div class="col-md-12">
				<h2>Edit Beta Tester</h2>

			</div>

			<div class="col-md-12">

				<form method="post">
					<div class="form-group">
						<label>Tester </label>
						<input type="text" name="username" value="<%= testers.username %>" class="form-control">
					</div>

					<div class="form-group-inline">
						<input id="isBetaTester" type="checkbox" name="isBetaTester" <%= testers.isBetaTester ? "checked" : "" %>>
						<label for="isBetaTester">is Beta Tester</label>
					</div>

					<div class="form-group-inline">
						<input id="isAdmin" type="checkbox" name="isAdmin" <%= testers.isAdmin ? "checked" : "" %>>
						<label for="isAdmin">is Admin</label>
					</div>

					<div class="form-group">
						<input type="submit" value="Update">
					</div>

				</form>
			</div>

		
		</div>
    </div>
</section>
