<section class="cprecap-info" id="about">
	<div class="container-xl">
		<div class="row pl-3 pr-3">
			<div class="col-lg-5 text-center">
				<img src="/beta/images/app-in-devices.png" alt="" class="img-fluid">
			</div>
			<div class="col-lg-7 text-center mb-5">
			  <h3 class="mb-3">ChinesePod Express APP<br>
				  <small>The ChinesePod Express is a Beta version of the new and improved ChinesePod App. </small></h3>

				<ul class="text-left">
					<li>It offers better functionality, equipped with more options and user-friendly features to guide Chinese Language Learners in their learning experience.</li>
					<li>Get lessons and series recommendations according to your Chinese Learning level.</li>
					<li>Unlock new vocabulary and Track your achievements</li>
					<li>Learn how to write Chinese Characters</li>
					<li>Review lessons with convenient bite sized Recap videos and flashcards.</li>
				</ul>
			</div>
		</div>
	</div>
</section>


