<section class="cprecap-info" id="about">
	<div class="container-xl">
		<div class="row pl-3 pr-3">
			<div class="col-lg-6 text-center">
				<img src="/beta/images/app-in-devices.png" alt="" class="img-fluid">
			</div>
			<div class="col-lg-6 text-center mb-5">
			  <h3 class="mb-3">ChinesePod Beta APP<br>
				  <small>offers access to short review segments based on full-length ChinesePod lessons.</small></h3>
				<p>These are aimed explicitly at solidifying previously studied material and extend long-term retention.</p>
			</div>
		</div>
	</div>
</section>


