<section class="cprecap-features" id="features">

	<!-- <div class="cprecap-features-row1">
		<div class="container-xl">
			<div class="row pl-3 pr-3">
				<div class="col-md-6">
					<h4><img src="/beta/images/bitsized-icon.png" alt="" class="align-self-center mr-3"> Bitesized Lessons</h4>
					<p>These lessons come in <strong>90-second</strong>, <strong>3-minute</strong>, and <strong>6-minute</strong> intervals (where available) and capture essential points of each lesson.</p>
				</div>
			</div>
		</div>
	</div> -->

	<div class="cprecap-features-row2">
		<div class="container-xl">
			<div class="row pl-3 pr-3 justify-content-end">
				<div class="col-md-6">
					<h4><img src="/beta/images/youdecide-icon.png" alt="" class="align-self-center mr-3"> Become a Beta Tester</h4>
					<p>Test our Beta and receive a premium access</p>
				</div>
			</div>
		</div>
	</div>

	<!-- <div class="cprecap-features-row3">
		<div class="container-xl">
			<div class="row pl-3 pr-3">
				<div class="col-md-6">
					<h4><img src="/beta/images/history-icon.png" alt="" class="align-self-center mr-3"> Help us build the best website to learn Mandarin Chinese</h4>
					<p>Help us test our Beta and receive free premium access.</p>
				</div>
			</div>
		</div>
	</div> -->

</section>