<section style="padding-top:30px">
	
	<div class="container">
		<div v-if="lessons" class="row">

			<div v-for="(lesson, key) in lessons.lessons" class="col-lg-3">
				

				
					<div class="card bg-transparent shadow-none mb-0">
						<a :href="'/lesson/'+lesson.slug" :title="lesson.title"><img alt="Binge watching" class="card-img upper-intermediate" :src="'https://s3contents.chinesepod.com/'+lesson.id+'/'+lesson.hash_code+'/'+lesson.image" lazy="loaded"></a>
						<div class="card-img-overlay rounded shadow-none bg-transparent">
							<div class="float-right">
								<span @click="saveLesson(key)" v-bind:class="{ isactive: lesson.saved }" class="btn btn-circle mt--4 mr-1"><i class="far fa-bookmark"></i></span>
								<span @click="studyCompleted(key)" v-bind:class="{ isactive: lesson.studied }" class="btn btn-circle mt--4 mr--3"><i class="far fa-check-circle ni-lg"></i></span>
							</div>
						</div>
					</div>
					<div class="card-body p-0 pb-4">
						<a :href="'/lesson/'+lesson.slug" :title="lesson.title"><h2 class="card-title m-0 mt-2" style="font-size: 20px;">{{ lesson.title }}</h2></a>
					</div>
				
				
			</div>


		</div>

	</div>
</section>

<div class="text-center">
	<button class="btn btn-primary" @click="loadMore()">Load More</button>
</div>
<!-- <div id="controls" class="text-center">
	<ul class="pagination justify-content-center">
		<li class="page-item first-page disabled">
			<a aria-label="Go First" class="page-link"><span aria-hidden="true"><i aria-hidden="true" class="fa fa-angle-double-left"></i></span></a>
		</li>
		<li class="page-item prev-page disabled">
			<a aria-label="Previous" class="page-link"><span aria-hidden="true"><i aria-hidden="true" class="fa fa-angle-left"></i></span></a>
		</li>
		<li class="page-item active">
			<a class="page-link">1</a>
		</li>
		<li class="page-item">
			<a class="page-link">2</a>
		</li>
		<li class="page-item">
			<a class="page-link">3</a>
		</li>
		<li class="page-item">
			<a class="page-link">4</a>
		</li>
		<li class="page-item">
			<a class="page-link">5</a>
		</li>
		<li class="page-item next-page">
			<a aria-label="Next" class="page-link"><span aria-hidden="true"><i aria-hidden="true" class="fa fa-angle-right"></i></span></a>
		</li>
		<li class="page-item last-page">
			<a aria-label="Go Last" class="page-link"><span aria-hidden="true"><i aria-hidden="true" class="fa fa-angle-double-right"></i></span></a>
		</li>
	</ul>
</div> -->


<div style="position: fixed;z-index: 100; top:10px; left: 0;width:100%" id="messageContainer">

</div>