<section>
	<div class="container">
		<div class="row">
			<div class="col-lg-9">
				<div class="video-header">
					<h1><%= content.title %></h1>
					<div class="breadcrumb">
						<nav style="--bs-breadcrumb-divider: url(&quot;data:image/svg+xml,%3Csvg xmlns=&#39;http://www.w3.org/2000/svg&#39; width=&#39;8&#39; height=&#39;8&#39;%3E%3Cpath d=&#39;M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z&#39; fill=&#39;currentColor&#39;/%3E%3C/svg%3E&quot;);" aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#">Home</a></li>
								<li class="breadcrumb-item" aria-current="page"><a href="#">Course Overview</a></li>
								<li class="breadcrumb-item active" aria-current="page"><%= content.title %>
								</li>
							</ol>
						</nav>
					</div>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="my-btn-group d-flex align-items-center mt-2 gap-3 mb-4 mb-lg-0">
					<button type="button" class="btn w-100 bg-white">
						<strong>Save</strong>
					</button>
					<button type="button" class="btn w-100 text-white primary-btn">
						<strong>Complete</strong>
					</button>
				</div>
			</div>


		</div>
		<div class="row">

				
			<div class="col-lg-9">
				<div v-if="lesson" class="card mb-0">
					<img v-if="!lesson.video" :alt="lesson.title" class="card-img" :src="lesson.image" lazy="loaded">
					<div v-if="lesson.video" class="protected">
						<script :src="'https://fast.wistia.com/embed/medias/'+lesson.video+'.jsonp'" async=""></script>
					</div>
					<div class="card-img-overlay d-flex align-items-center">
						<div class="mx-auto">
							<div class="audio-player-controls">
								<div class="col-12">
									<div class="row">
										<div class="col-4">
											<button type="button" class="btn bg-transparent border-0 shadow-none p-0 m-0 btn-default">
												<i class="fi flaticon-040-backward text-white jump emphasize-dark"></i>
											</button>
										</div>
										<div class="col-4">
											<button type="button" class="btn bg-transparent border-0 shadow-none p-0 m-0 btn-default">
												<i class="text-white play-button emphasize-dark fi flaticon-013-play"></i>
											</button>
										</div>
										<div class="col-4">
											<button type="button" class="btn bg-transparent border-0 shadow-none p-0 m-0 btn-default">
												<i class="fi flaticon-032-forwards text-white jump emphasize-dark"></i>
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
						
					</div>
				</div>

				<div class="video-player d-none"><iframe width="560" height="315" src="/beta/lesson/NjCYc5p8a5c.html" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" style="height: 543.613px;"></iframe></div>

				<div class="my-btn-group mt-3 mb-5 lessons-btn">
					<button type="button" class="btn text-white me-3 px-5 py-2 primary-btn">
						<strong>Video Lesson</strong>
					</button>
					<button type="button" class="btn bg-white px-5 me-3 py-2">
						<strong>Audio Lesson</strong>
					</button>
					<button type="button" class="btn bg-white px-5 py-2">
						<strong>Review</strong>
					</button>
				</div>

				<div class="in-this-lesson">
					<%
						let arrIntro = content.introduction.split("</div>")
						let stringIntro = ""

						if (arrIntro.length > 1) {
							stringIntro = arrIntro[1]
						} else {
							stringIntro = content.introduction
						}
					%>
					<p><%- stringIntro %></p>
				</div>
			</div>

			<div v-if="course.length > 0" class="col-lg-3 mb-4 mb-md-0">
				<h4 class="mb-3">Next in course:</h4>
				<div v-for="c in course" class="row">
					<div class="col-12 col-md-6 col-lg-12">
						<div class="card mb-3">
							<a :href="'/new/lesson/'+c.slug">
								
								<img :src="c.image" class="card-img-top" alt="">
								<div class="card-body">
									<h6 class="card-title fw-bold">{{ c.title }}</h6>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>

		</div>

		<div class="row">
			<div class="container">
				<div class="col-lg-9">
					<!-- tabs start -->
					<nav>
						<div class="nav nav-tabs" id="nav-tab" role="tablist">
							<button class="nav-link active" id="nav-dialogue-tab" data-bs-toggle="tab" data-bs-target="#nav-dialogue" type="button" role="tab" aria-controls="nav-dialogue" aria-selected="false">Dialogue</button>

							<button class="nav-link" id="nav-comments-tab" data-bs-toggle="tab" data-bs-target="#nav-comments" type="button" role="tab" aria-controls="nav-comments" aria-selected="true">Comments</button>

							<button class="nav-link" id="nav-downloads-tab" data-bs-toggle="tab" data-bs-target="#nav-downloads" type="button" role="tab" aria-controls="nav-downloads" aria-selected="false">Downloads</button>
						</div>
					</nav>
					<div class="tab-content" id="nav-tabContent">
						<div class="tab-pane fade show active" id="nav-dialogue" role="tabpanel" aria-labelledby="nav-profile-tab">
							<div class="dialogue-main">
								<div class="dialogue py-3">
									<ul v-if="dialogue" class="list-group d-block d-sm-flex w-100 list-group-horizontal" style="flex-wrap: wrap;">
										<li v-for="dia in dialogue.dialogue" class="list-group-item w-50 w-md-50 p-4" style="border-width:1px !important">
											<div class="mandarin-chars-main d-flex align-items-center justify-content-between">
												<div class="mandarin-chars">
													<span v-for="sentence in dia.sentence" v-if="sentence.s" class="mandarin-char position-relative">
														<span class="fs-2">{{ sentence.s }}</span>
														<div class="mandarin-char-tooltip position-absolute start-0 rounded p-3 mt-2 bg-light fs-5">
															<div class="fs-2 mb-2">{{ sentence.s }}</div>
															<div class="mb-2">{{ pinyinConvert(sentence.p) }}</div>
															<div class="border-top pt-1">{{ sentence.en }}</div>
														</div>
													</span>
												
												</div>
												<div class="play-audio icon fs-5">
													<i class="bi bi-volume-up-fill"></i>
													<audio>
														<source :src="'https://s3contents.chinesepod.com/'+lesson.id+'/'+lesson.hash_code+'/'+dia.audio" type="audio/mp3">
														Your browser does not support the audio element.
													</audio>
												</div>
											</div>
											<div class="translation-group fs-5">
												<div class="pinyin-writing-main d-flex align-items-center justify-content-between">
													<div class="pinyin-writing show-hide-txt my-3">
														<span>...</span>
														<span>{{ pinyinConvert(dia.p) }}</span>
													</div>
													<div class="icon toggle-show-hide fs-5">
														<i class="bi bi-eye-slash-fill"></i>
													</div>
												</div>
												<div class="english-translation-main d-flex align-items-center justify-content-between">
													<div class="english-translation show-hide-txt">
														<span>...</span>
														<span>{{ dia.en }}</span>
													</div>
													<div class="icon toggle-show-hide fs-5">
														<i class="bi bi-eye-slash-fill"></i>
													</div>
												</div>
											</div>
											
										</li>
										
									</ul>

									<p v-if="!dialogue" class="warning">Dialogue not found</p>
									
								</div>
							</div>

						</div>
						<div class="tab-pane fade" id="nav-comments" role="tabpanel" aria-labelledby="nav-home-tab">
							<div class="comments-form mt-4">
								<form class="postcomment-form">
									<div class="comment-bar">
										<div class="left">
											<div class="comment-avatar avatar-in-form"> <i class="bi bi-person-fill"></i></div>
											<div class="avatar-modal">
												<div class="user-name-input">
													<h3>Name</h3>
													<input class="comment-user-name" type="text" placeholder="John Doe">
												</div>
												<div class="avatar-modal-contaier">
													<div class="left">
														<div class="select-avatar">
															<h3>Select</h3>
															<div class="avatar-options">
																<div class="avatar-option"><img class="avatar-img" src="/beta/lesson/1.jpg"></div>
																<div class="avatar-option"><img class="avatar-img" src="/beta/lesson/2.jpg"></div>
																<div class="avatar-option"><img class="avatar-img" src="/beta/lesson/3.jpg"></div>
																<div class="avatar-option"><img class="avatar-img" src="/beta/lesson/4.jpg"></div>
																<div class="avatar-option"><img class="avatar-img" src="/beta/lesson/5.jpg"></div>
																<div class="avatar-option"><img class="avatar-img" src="/beta/lesson/6.jpg"></div>
																<div class="avatar-option"><img class="avatar-img" src="/beta/lesson/7.jpg"></div>
																<div class="avatar-option"><img class="avatar-img" src="/beta/lesson/8.jpg"></div>
																<div class="avatar-option"><img class="avatar-img" src="/beta/lesson/9.jpg"></div>
															</div>
														</div>
														<div class="customize-avatar">
															<h3>Customize section</h3>
														</div>
													</div>
													<div class="right">
														<h3>OR<br>Customize<br>your Avatar</h3>
														<div class="avatar-big">
															<i class="bi bi-person-fill"></i>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="right">
											<div class="form-floating cmnt-textarea">
												<textarea class="form-control cmnt-comment" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
												<label for="floatingTextarea">Write your comment</label>
											</div>
										</div>
									</div>
									<div class="comment-submitbtn">
										<input class="btn text-white px-5 py-2 primary-btn" type="submit" value="Comment" disabled="">
									</div>
								</form>
							</div>
							<div class="comments-wrapper"><div class="comment-main">
<div class="left">
<div class="comment-avatar"><img class="avatar-img" src="/beta/lesson/1.jpg"></div>
</div>
<div class="right">
<div class="name">Harry <span class="date-time">1/4/2022, 6:17:03 PM</span></div>

<div class="comment-txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>

<div class="comment-reacts">
	<div class="thumbs-up comment-react">
		<a href="https://sitetesting123.web.app/New%20Lesson%20page%20-%20ChinesePod/#">
			<i class="bi bi-hand-thumbs-up"></i>
		</a>
		<span class="react-count">2</span>
	</div>
	<div class="thumbs-down comment-react">
		<a href="https://sitetesting123.web.app/New%20Lesson%20page%20-%20ChinesePod/#">
			<i class="bi bi-hand-thumbs-down"></i>
		</a>
		<span class="react-count">0</span>
	</div>
</div>
</div>
</div><div class="comment-main">
<div class="left">
<div class="comment-avatar"><img class="avatar-img" src="/beta/lesson/1.jpg"></div>
</div>
<div class="right">
<div class="name">Celestial <span class="date-time">1/4/2022, 6:17:03 PM</span></div>

<div class="comment-txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>

<div class="comment-reacts">
	<div class="thumbs-up comment-react">
		<a href="https://sitetesting123.web.app/New%20Lesson%20page%20-%20ChinesePod/#">
			<i class="bi bi-hand-thumbs-up"></i>
		</a>
		<span class="react-count">2</span>
	</div>
	<div class="thumbs-down comment-react">
		<a href="https://sitetesting123.web.app/New%20Lesson%20page%20-%20ChinesePod/#">
			<i class="bi bi-hand-thumbs-down"></i>
		</a>
		<span class="react-count">0</span>
	</div>
</div>
</div>
</div><div class="comment-main">
<div class="left">
<div class="comment-avatar"><img class="avatar-img" src="/beta/lesson/1.jpg"></div>
</div>
<div class="right">
<div class="name">Jason <span class="date-time">1/4/2022, 6:17:03 PM</span></div>

<div class="comment-txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</div>

<div class="comment-reacts">
	<div class="thumbs-up comment-react">
		<a href="https://sitetesting123.web.app/New%20Lesson%20page%20-%20ChinesePod/#">
			<i class="bi bi-hand-thumbs-up"></i>
		</a>
		<span class="react-count">2</span>
	</div>
	<div class="thumbs-down comment-react">
		<a href="https://sitetesting123.web.app/New%20Lesson%20page%20-%20ChinesePod/#">
			<i class="bi bi-hand-thumbs-down"></i>
		</a>
		<span class="react-count">0</span>
	</div>
</div>
</div>
</div></div>
						</div>
						<div class="tab-pane fade show" id="nav-downloads" role="tabpanel" aria-labelledby="nav-profile-tab">
							No downloads to show right now.
						</div>
					</div>
					<!-- tabs end -->
				</div>

				<div class="col-lg-3"></div>
			</div>
		</div>
	</div>
</section>