<section style="padding-top:30px">
	
	<div class="container">
		<div v-if="lessons" class="row">

			<table v-if="lessons.vocabulary" class="table tbl-vocabulary">
				<thead>
					<tr>
						<th>{{ vuex.userInfo.charSet == 'traditional' ? 'Traditional' : 'Simplified' }}</th>
						<th style="width:15%">Pinyin</th>
						<th style="width:25%">English</th>
						<th style="width:15%">Decks</th>
						<th style="width:10%">Date Added</th>
						<th style="width:10%">Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="voc in lessons.vocabulary">
						
						<td>
							<div class="hanziContainer">
							<div  
								v-if="vuex.userInfo.charSet === 'traditional'"
								v-for="ndx in voc.t.length" 
								:id="'target-t-'+(ndx - 1)+'-'+voc.id" 
								:class="'js-animate-t-'+(ndx - 1)+'-'+voc.id" >
								<span class="loader">loading...</span>
								{{ showHanzi('target-t-'+(ndx - 1)+'-'+voc.id, 'js-animate-t-'+(ndx - 1)+'-'+voc.id,voc.t[ndx-1] ) }}
							</div>
							<div  
								v-if="vuex.userInfo.charSet === 'simplified'"
								v-for="ndx in voc.s.length" 
								:id="'target-s-'+(ndx - 1)+'-'+voc.id" 
								:class="'js-animate-s-'+(ndx - 1)+'-'+voc.id" >
								<span class="loader">loading...</span>
								{{ showHanzi('target-s-'+(ndx - 1)+'-'+voc.id, 'js-animate-s-'+(ndx - 1)+'-'+voc.id,voc.s[ndx-1] ) }}
							</div>
							</div>
						</td>
						<td v-html="pinyinConvert(voc.p)"></td>
						<td ><p class="en-phrase">{{ String(voc.en) }}</p></td>
						<td>
							<ul v-if="voc.tags && voc.tags.length">
								<li v-for="tag in voc.tags">{{ tag.tag }}</li>
							</ul>
							<div >
								<span class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addRemoveDeck" @click="setParams(voc.user_vocabulary_id,'add',voc.tags)"><i class="fa fa-plus"></i></span> 
								<span class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#addRemoveDeck" v-if="voc.tags && voc.tags.length" @click="setParams(voc.user_vocabulary_id,'remove',voc.tags)"><i class="fa fa-minus"></i></span>
							</div>
						</td>
						<td>{{ formatDate(voc.createdAt) }}</td>
						<td>
							

							<div style="display:inline-block;color:#f7b500" @click="copyClipboard( (vuex.userInfo.charSet == 'traditional' ? voc.t : voc.s ) + ' - ' + voc.p + ' - ' + voc.en )" class="icon c-hand">
								<i class="fa fa-copy"></i>
							</div>

							<div style="display:inline-block" class="icon c-hand">
								<a href="#"><i class="fa fa-search"></i></a>
							</div>

							<div v-if="voc.audioUrlCN" style="display:inline-block; color:#dc3545" class="play-audio icon fs-5">
								<i class="fa fa-play" @click="playAudio('audio-'+voc.id)"></i>
								<audio :id="'audio-'+voc.id">
									<source  :src="voc.audioUrlCN" type="audio/mp3">
									Your browser does not support the audio element.
								</audio>
							</div>

							<div style="display:inline-block;color:#dc3545" @click="deleteVocabularyTag(voc.user_vocabulary_id)" class="icon c-hand">
								<i class="fa fa-trash"></i>
							</div>

							

						</td>
					</tr>
				</tbody>
			</table>


		</div>

	</div>
</section>

<div v-if="lessons && lessons.vocabulary && lessons.total > lessons.vocabulary.length" class="text-center">
	<button class="btn btn-primary" @click="loadMore()">Load More</button>
</div>



<div style="position: fixed;z-index: 100; top:10px; left: 0;width:100%" id="messageContainer">

</div>

<!-- MODAL -->
<div class="modal fade" id="addRemoveDeck" tabindex="-1" role="dialog" aria-labelledby="addRemoveDeckLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-body">
				<h4>Decks</h4>
				<div v-if="deckAction == 'add'" class="form-group">
					<select class="form-control" v-model="deckSelectedId">
						<option value="">--- Select Deck ---</option>
						<option v-for="deck in decks" :value="deck.id">{{ deck.tag }}</option>
					</select>
				</div>
				<div v-if="deckAction == 'remove'" class="form-group">
					<select class="form-control" v-model="deckSelectedId">
						<option value="">--- Select Deck ---</option>
						<option v-for="deck in deckTags" :value="deck.id">{{ deck.tag }}</option>
					</select>
				</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" @click="deckActionSubmit()" style="text-transform: capitalize;">{{ deckAction }}</button>
            </div>
        </div>
    </div>
</div>