<section class="cprecap-features" id="features">

	<div class="cprecap-features-row3">
		<div class="container-xl">
			<div class="row pl-3 pr-3">
				<div class="col-md-6">
					<h4><img src="/beta/images/history-icon.png" alt="" class="align-self-center mr-3"> We Need You</h4>
					<p>Help us build the best app for YOU to learn Mandarin Chinese. Test our Beta and receive free premium access.</p>
				</div>
			</div>
		</div>
	</div>

</section>